In [67]:
from bs4 import BeautifulSoup
import requests

## Q1. Write a python program to display all the header tags from‘en.wikipedia.org/wiki/Main_Page’.

In [79]:
wiki_page=requests.get('https://en.wikipedia.org/wiki/Main_Page')
wiki_page

In [373]:
wiki_soup=BeautifulSoup(wiki_page.content)

In [83]:
headers=wiki_soup.find_all(['h1','h2','h3','h4','h5','h6'])
header_tags=[]
for i in headers:
    header_tags.append(i.text.replace('\n',''))
header_tags

['Main Page',
 "From today's featured article",
 'Did you know\xa0...',
 'In the news',
 'On this day',
 "Today's featured picture",
 'Other areas of Wikipedia',
 "Wikipedia's sister projects",
 'Wikipedia languages',
 'Navigation menu',
 'Personal tools',
 'Namespaces',
 'Variants',
 'Views',
 'More',
 'Search',
 'Navigation',
 'Contribute',
 'Tools',
 'Print/export',
 'In other projects',
 'Languages']

In [84]:
import pandas as pd
WikiHeaders=pd.DataFrame()
WikiHeaders['Headers']=header_tags
WikiHeaders

                          Headers
0                       Main Page
1   From today's featured article
2                Did you know ...
3                     In the news
4                     On this day
5        Today's featured picture
6        Other areas of Wikipedia
7     Wikipedia's sister projects
8             Wikipedia languages
9                 Navigation menu
10                 Personal tools
11                     Namespaces
12                       Variants
13                          Views
14                           More
15                         Search
16                     Navigation
17                     Contribute
18                          Tools
19                   Print/export
20              In other projects
21                      Languages

## Q2. Write a python program to display IMDB’s Top rated 100 movies’ data (i.e. Name, IMDB rating, Year of release).

In [12]:
IMDB_page=requests.get('https://www.imdb.com/list/ls055592025/')
IMDB_page

In [374]:
IMDB_soup=BeautifulSoup(IMDB_page.content)

In [462]:
name=IMDB_soup.find_all('h3',class_="lister-item-header")

In [20]:
name_list=[]
for i in name:
    for j in i.find_all('a'):
        name_list.append(j.text.replace('\n',''))
name_list

['The Godfather',
 'The Shawshank Redemption',
 "Schindler's List",
 'Raging Bull',
 'Casablanca',
 'Citizen Kane',
 'Gone with the Wind',
 'The Wizard of Oz',
 "One Flew Over the Cuckoo's Nest",
 'Lawrence of Arabia',
 'Vertigo',
 'Psycho',
 'The Godfather: Part II',
 'On the Waterfront',
 'Sunset Blvd.',
 'Forrest Gump',
 'The Sound of Music',
 '12 Angry Men',
 'West Side Story',
 'Star Wars',
 '2001: A Space Odyssey',
 'E.T. the Extra-Terrestrial',
 'The Silence of the Lambs',
 'Chinatown',
 'The Bridge on the River Kwai',
 "Singin' in the Rain",
 "It's a Wonderful Life",
 'Dr. Strangelove or: How I Learned to Stop Worrying and Love the Bomb',
 'Some Like It Hot',
 'Ben-Hur',
 'Apocalypse Now',
 'Amadeus',
 'The Lord of the Rings: The Return of the King',
 'Gladiator',
 'Titanic',
 'From Here to Eternity',
 'Saving Private Ryan',
 'Unforgiven',
 'Raiders of the Lost Ark',
 'Rocky',
 'A Streetcar Named Desire',
 'The Philadelphia Story',
 'To Kill a Mockingbird',
 'An American in Paris',
 'The Best Years of Our Lives',
 'My Fair Lady',
 'A Clockwork Orange',
 'Doctor Zhivago',
 'The Searchers',
 'Jaws',
 'Patton',
 'Butch Cassidy and the Sundance Kid',
 'The Treasure of the Sierra Madre',
 'Il buono, il brutto, il cattivo',
 'The Apartment',
 'Platoon',
 'High Noon',
 'Braveheart',
 'Dances with Wolves',
 'Jurassic Park',
 'The Exorcist',
 'The Pianist',
 'Goodfellas',
 'The Deer Hunter',
 'All Quiet on the Western Front',
 'Bonnie and Clyde',
 'The French Connection',
 'City Lights',
 'It Happened One Night',
 'A Place in the Sun',
 'Midnight Cowboy',
 'Mr. Smith Goes to Washington',
 'Rain Man',
 'Annie Hall',
 'Fargo',
 'Giant',
 'Shane',
 'The Grapes of Wrath',
 'The Green Mile',
 'Close Encounters of the Third Kind',
 'Nashville',
 'Network',
 'The Graduate',
 'American Graffiti',
 'Pulp Fiction',
 'Terms of Endearment',
 'Good Will Hunting',
 'The African Queen',
 'Stagecoach',
 'Mutiny on the Bounty',
 'The Great Dictator',
 'Double Indemnity',
 'The Maltese Falcon',
 'Wuthering Heights',
 'Taxi Driver',
 'Rear Window',
 'The Third Man',
 'Rebel Without a Cause',
 'North by Northwest',
 'Yankee Doodle Dandy']

In [21]:
len(name_list)

100

In [22]:
year_list=[]
for i in name:
    for j in i.find_all('span',class_="lister-item-year text-muted unbold"):
        year_list.append(j.text.replace('\n',''))
year_list

['(1972)',
 '(1994)',
 '(1993)',
 '(1980)',
 '(1942)',
 '(1941)',
 '(1939)',
 '(1939)',
 '(1975)',
 '(1962)',
 '(1958)',
 '(1960)',
 '(1974)',
 '(1954)',
 '(1950)',
 '(1994)',
 '(1965)',
 '(1957)',
 '(1961)',
 '(1977)',
 '(1968)',
 '(1982)',
 '(1991)',
 '(1974)',
 '(1957)',
 '(1952)',
 '(1946)',
 '(1964)',
 '(1959)',
 '(1959)',
 '(1979)',
 '(1984)',
 '(2003)',
 '(2000)',
 '(1997)',
 '(1953)',
 '(1998)',
 '(1992)',
 '(1981)',
 '(1976)',
 '(1951)',
 '(1940)',
 '(1962)',
 '(1951)',
 '(1946)',
 '(1964)',
 '(1971)',
 '(1965)',
 '(1956)',
 '(1975)',
 '(1970)',
 '(1969)',
 '(1948)',
 '(1966)',
 '(1960)',
 '(1986)',
 '(1952)',
 '(1995)',
 '(1990)',
 '(1993)',
 '(1973)',
 '(2002)',
 '(1990)',
 '(1978)',
 '(1930)',
 '(1967)',
 '(1971)',
 '(1931)',
 '(1934)',
 '(1951)',
 '(1969)',
 '(1939)',
 '(1988)',
 '(1977)',
 '(1996)',
 '(1956)',
 '(1953)',
 '(1940)',
 '(1999)',
 '(1977)',
 '(1975)',
 '(1976)',
 '(1967)',
 '(1973)',
 '(1994)',
 '(1983)',
 '(1997)',
 '(1951)',
 '(1939)',
 '(1935)',
 '(1940)',
 '(1944)',
 '(1941)',
 '(1939)',
 '(1976)',
 '(1954)',
 '(1949)',
 '(1955)',
 '(1959)',
 '(1942)']

In [23]:
len(year_list)

100

In [24]:
rankings=[]
for i in name:
    for j in i.find_all('span',class_="lister-item-index unbold text-primary"):
        rankings.append(j.text.replace('\n',''))
rankings

['1.',
 '2.',
 '3.',
 '4.',
 '5.',
 '6.',
 '7.',
 '8.',
 '9.',
 '10.',
 '11.',
 '12.',
 '13.',
 '14.',
 '15.',
 '16.',
 '17.',
 '18.',
 '19.',
 '20.',
 '21.',
 '22.',
 '23.',
 '24.',
 '25.',
 '26.',
 '27.',
 '28.',
 '29.',
 '30.',
 '31.',
 '32.',
 '33.',
 '34.',
 '35.',
 '36.',
 '37.',
 '38.',
 '39.',
 '40.',
 '41.',
 '42.',
 '43.',
 '44.',
 '45.',
 '46.',
 '47.',
 '48.',
 '49.',
 '50.',
 '51.',
 '52.',
 '53.',
 '54.',
 '55.',
 '56.',
 '57.',
 '58.',
 '59.',
 '60.',
 '61.',
 '62.',
 '63.',
 '64.',
 '65.',
 '66.',
 '67.',
 '68.',
 '69.',
 '70.',
 '71.',
 '72.',
 '73.',
 '74.',
 '75.',
 '76.',
 '77.',
 '78.',
 '79.',
 '80.',
 '81.',
 '82.',
 '83.',
 '84.',
 '85.',
 '86.',
 '87.',
 '88.',
 '89.',
 '90.',
 '91.',
 '92.',
 '93.',
 '94.',
 '95.',
 '96.',
 '97.',
 '98.',
 '99.',
 '100.']

In [38]:
Top_100_Films=pd.DataFrame()
Top_100_Films['Rank']=rankings
Top_100_Films['Movie Name']=name_list
Top_100_Films['Year of Release']=year_list


Top_100_Films.set_index('Rank')

                    Movie Name Year of Release
Rank
1.               The Godfather          (1972)
2.    The Shawshank Redemption          (1994)
3.            Schindler's List          (1993)
4.                 Raging Bull          (1980)
5.                  Casablanca          (1942)
...                        ...             ...
96.                Rear Window          (1954)
97.              The Third Man          (1949)
98.      Rebel Without a Cause          (1955)
99.         North by Northwest          (1959)
100.       Yankee Doodle Dandy          (1942)

[100 rows x 2 columns]

## Q3. Write a python program to display IMDB’s Top rated 100 Indian movies’ data (i.e. Name, IMDB rating, Year of release).

In [40]:
IMDB_page2=requests.get('https://www.imdb.com/list/ls056092300/')
IMDB_page2

In [461]:
IMDB_soup2=BeautifulSoup(IMDB_page2.content)

In [460]:
name2=IMDB_soup2.find_all('h3',class_="lister-item-header")

In [46]:
name_list2=[]

for i in name2:
    for j in i.find_all('a'):
        name_list2.append(j.text)
name_list2

['Ship of Theseus',
 'Iruvar',
 'Kaagaz Ke Phool',
 'Lagaan: Once Upon a Time in India',
 'Pather Panchali',
 'Charulata',
 'Rang De Basanti',
 'Dev.D',
 '3 Idiots',
 'Awaara',
 'Nayakan',
 'Aparajito',
 'Pushpaka Vimana',
 'Pyaasa',
 'Ghatashraddha',
 'Sholay',
 'Aradhana',
 'Do Ankhen Barah Haath',
 'Bombay',
 'Neecha Nagar',
 'Do Bigha Zamin',
 'Garm Hava',
 'Piravi',
 'Mughal-E-Azam',
 'Amma Ariyan',
 'Madhumati',
 'Goopy Gyne Bagha Byne',
 'Gangs of Wasseypur',
 'Guide',
 'Satya',
 'Roja',
 'Mr. India',
 'The Cloud-Capped Star',
 'Harishchandrachi Factory',
 'Masoom',
 'Agneepath',
 'Tabarana Kathe',
 'Zakhm',
 'Dil Chahta Hai',
 'Bhaag Milkha Bhaag',
 'Chupke Chupke',
 'Dilwale Dulhania Le Jayenge',
 'Taare Zameen Par',
 'Ardh Satya',
 'Bhumika',
 'Enthiran',
 'Sadma',
 'Shwaas',
 'Lamhe',
 'Haqeeqat',
 'Shree 420',
 'Kannathil Muthamittal',
 'Hum Aapke Hain Koun...!',
 'Ustad Hotel',
 'Bandit Queen',
 'Lakshya',
 'Black Friday',
 'Manthan',
 'Apoorva Raagangal',
 'English Vinglish',
 'Jewel Thief',
 'Pakeezah',
 'Maqbool',
 'Jis Desh Men Ganga Behti Hai',
 'Sahib Bibi Aur Ghulam',
 'Shatranj Ke Khilari',
 'Narthanasala',
 'Chandni Bar',
 'Vaaranam Aayiram',
 'Mr. and Mrs. Iyer',
 'Chandni',
 'English, August',
 'Celluloid',
 'Sagara Sangamam',
 'Munna Bhai M.B.B.S.',
 'Saaransh',
 'Guddi',
 'Vanaja',
 'Vazhakku Enn 18/9',
 'Gangaajal',
 'Angoor',
 'Guru',
 'Andaz Apna Apna',
 'Sangam',
 'Oka Oori Katha',
 'Bhuvan Shome',
 'Border',
 'Parineeta',
 'Devdas',
 'Abohomaan',
 'Kuch Kuch Hota Hai',
 'Pithamagan',
 'Veyyil',
 'Chemmeen',
 'Jaane Bhi Do Yaaro',
 'Apur Sansar',
 'Kanchivaram',
 'Monsoon Wedding',
 'Black',
 'Deewaar']

In [47]:
len(name_list)

100

In [49]:
year_list2=[]

for i in name2:
    for j in i.find_all('span',class_="lister-item-year text-muted unbold"):
        year_list2.append(j.text)
year_list2

['(2012)',
 '(1997)',
 '(1959)',
 '(2001)',
 '(1955)',
 '(1964)',
 '(2006)',
 '(2009)',
 '(2009)',
 '(1951)',
 '(1987)',
 '(1956)',
 '(1987)',
 '(1957)',
 '(1977)',
 '(1975)',
 '(1969)',
 '(1957)',
 '(1995)',
 '(1946)',
 '(1953)',
 '(1974)',
 '(1989)',
 '(1960)',
 '(1986)',
 '(1958)',
 '(1969)',
 '(2012)',
 '(1965)',
 '(1998)',
 '(1992)',
 '(1987)',
 '(1960)',
 '(2009)',
 '(1983)',
 '(1990)',
 '(1986)',
 '(1998)',
 '(2001)',
 '(2013)',
 '(1975)',
 '(1995)',
 '(2007)',
 '(1983)',
 '(1977)',
 '(2010)',
 '(1983)',
 '(2004)',
 '(1991)',
 '(1964)',
 '(1955)',
 '(2002)',
 '(1994)',
 '(2012)',
 '(1994)',
 '(2004)',
 '(2004)',
 '(1976)',
 '(1975)',
 '(2012)',
 '(1967)',
 '(1972)',
 '(2003)',
 '(1960)',
 '(1962)',
 '(1977)',
 '(1963)',
 '(2001)',
 '(2008)',
 '(2002)',
 '(1989)',
 '(1994)',
 '(2013)',
 '(1983)',
 '(2003)',
 '(1984)',
 '(1971)',
 '(2006)',
 '(2012)',
 '(2003)',
 '(1982)',
 '(2007)',
 '(1994)',
 '(I) (1964)',
 '(1978)',
 '(1969)',
 '(I) (1997)',
 '(2005)',
 '(1955)',
 '(2009)',
 '(1998)',
 '(2003)',
 '(2006)',
 '(1965)',
 '(1983)',
 '(1959)',
 '(2008)',
 '(2001)',
 '(2005)',
 '(1975)']

In [51]:
ranking2=[]

for i in name2:
    for j in i.find_all('span',class_="lister-item-index unbold text-primary"):
        ranking2.append(j.text)
ranking2

['1.',
 '2.',
 '3.',
 '4.',
 '5.',
 '6.',
 '7.',
 '8.',
 '9.',
 '10.',
 '11.',
 '12.',
 '13.',
 '14.',
 '15.',
 '16.',
 '17.',
 '18.',
 '19.',
 '20.',
 '21.',
 '22.',
 '23.',
 '24.',
 '25.',
 '26.',
 '27.',
 '28.',
 '29.',
 '30.',
 '31.',
 '32.',
 '33.',
 '34.',
 '35.',
 '36.',
 '37.',
 '38.',
 '39.',
 '40.',
 '41.',
 '42.',
 '43.',
 '44.',
 '45.',
 '46.',
 '47.',
 '48.',
 '49.',
 '50.',
 '51.',
 '52.',
 '53.',
 '54.',
 '55.',
 '56.',
 '57.',
 '58.',
 '59.',
 '60.',
 '61.',
 '62.',
 '63.',
 '64.',
 '65.',
 '66.',
 '67.',
 '68.',
 '69.',
 '70.',
 '71.',
 '72.',
 '73.',
 '74.',
 '75.',
 '76.',
 '77.',
 '78.',
 '79.',
 '80.',
 '81.',
 '82.',
 '83.',
 '84.',
 '85.',
 '86.',
 '87.',
 '88.',
 '89.',
 '90.',
 '91.',
 '92.',
 '93.',
 '94.',
 '95.',
 '96.',
 '97.',
 '98.',
 '99.',
 '100.']

In [53]:
Top_100_IndianFilms=pd.DataFrame()
Top_100_IndianFilms['Rank']=ranking2
Top_100_IndianFilms['Movie Name']=name_list2
Top_100_IndianFilms['Year of Release']=year_list2


Top_100_IndianFilms

    Rank                         Movie Name Year of Release
0     1.                    Ship of Theseus          (2012)
1     2.                             Iruvar          (1997)
2     3.                    Kaagaz Ke Phool          (1959)
3     4.  Lagaan: Once Upon a Time in India          (2001)
4     5.                    Pather Panchali          (1955)
..   ...                                ...             ...
95   96.                        Apur Sansar          (1959)
96   97.                        Kanchivaram          (2008)
97   98.                    Monsoon Wedding          (2001)
98   99.                              Black          (2005)
99  100.                            Deewaar          (1975)

[100 rows x 3 columns]

## Q4. Write a python program to scrap book name, author name, genre and book review of any 5 books from‘www.bookpage.com’

In [287]:
book_page=requests.get('https://bookpage.com/reviews?book_genre=fiction&page=1')
book_page

In [288]:
book_soup=BeautifulSoup(book_page.content)

In [289]:
book_name=[]
title=book_soup.find_all('h4',class_="italic")
for i in title:
    book_name.append(i.text.replace('★','').strip())
book_name

['How to Find Your Way in the Dark',
 'All’s Well',
 'Summer Fun',
 'What Strange Paradise',
 'China Room',
 'A Passage North',
 'The Startup Wife',
 'The Tiger Mom’s Tale',
 'Build Your House Around My Body',
 'Together We Will Go']

In [290]:
len(book_name)

10

In [291]:
author_list=[]

author=book_soup.find_all('p',class_="sans bold")

for i in author:
    author_list.append(i.text.replace('\n',''))
author_list

['Derek B. Miller',
 'Mona Awad',
 'Jeanne Thornton',
 'Omar El Akkad',
 'Sunjeev Sahota',
 'Anuk Arudpragasm',
 'Tahmima Anam',
 'Lyn Liao Butler',
 'Violet Kupersmith',
 'J. Michael Straczynski']

In [292]:
len(genre_list)

10

In [293]:
genre_list=[]

genre=book_soup.find_all('p',class_="genre-links hidden-phone")

for i in genre:
    genre_list.append(i.text.replace('\n',''))
genre_list

['Fiction / Coming of Age',
 'Fiction / Literary Fiction',
 'Fiction / Literary Fiction',
 'Fiction / Literary Fiction',
 'Fiction / Literary Fiction',
 'Fiction / Literary Fiction',
 'Fiction / Literary Fiction',
 'Fiction / Family Drama',
 'Fiction / Literary Fiction',
 'Fiction / Popular Fiction']

In [294]:
len(genre_list)

10

In [285]:
#review_soup=BeautifulSoup(book_page.content,'html.parser')

In [296]:
url_tags=book_soup.find_all('h4',class_="italic")
url_tags

[<h4 class="italic">
 <a href="/reviews/26469-derek-b-miller-how-to-find-your-way-dark-fiction"> <span style="font-style:normal;">★ </span>How to Find Your Way in the Dark</a>
 </h4>,
 <h4 class="italic">
 <a href="/reviews/26466-mona-awad-alls-well-fiction">All’s Well</a>
 </h4>,
 <h4 class="italic">
 <a href="/reviews/26474-jeanne-thornton-summer-fun-fiction"> <span style="font-style:normal;">★ </span>Summer Fun</a>
 </h4>,
 <h4 class="italic">
 <a href="/reviews/26483-omar-el-akkad-what-strange-paradise-fiction">What Strange Paradise</a>
 </h4>,
 <h4 class="italic">
 <a href="/reviews/26375-sunjeev-sahota-china-room-fiction">China Room</a>
 </h4>,
 <h4 class="italic">
 <a href="/reviews/26373-anuk-arudpragasm-passage-north-fiction"> <span style="font-style:normal;">★ </span>A Passage North</a>
 </h4>,
 <h4 class="italic">
 <a href="/reviews/26386-tahmima-anam-startup-wife-fiction"> <span style="font-style:normal;">★ </span>The Startup Wife</a>
 </h4>,
 <h4 class="italic">
 <a href="/reviews/26388-lyn-liao-butler-tiger-moms-tale-fiction">The Tiger Mom’s Tale</a>
 </h4>,
 <h4 class="italic">
 <a href="/reviews/26374-violet-kupersmith-build-your-house-around-my-body-fiction">Build Your House Around My Body</a>
 </h4>,
 <h4 class="italic">
 <a href="/reviews/26390-j-michael-straczynski-together-we-will-go-fiction">Together We Will Go</a>
 </h4>]

In [297]:
urls=[]

for i in url_tags:
    for j in i.find_all('a',href=True):
        urls.append(j['href'])
urls

['/reviews/26469-derek-b-miller-how-to-find-your-way-dark-fiction',
 '/reviews/26466-mona-awad-alls-well-fiction',
 '/reviews/26474-jeanne-thornton-summer-fun-fiction',
 '/reviews/26483-omar-el-akkad-what-strange-paradise-fiction',
 '/reviews/26375-sunjeev-sahota-china-room-fiction',
 '/reviews/26373-anuk-arudpragasm-passage-north-fiction',
 '/reviews/26386-tahmima-anam-startup-wife-fiction',
 '/reviews/26388-lyn-liao-butler-tiger-moms-tale-fiction',
 '/reviews/26374-violet-kupersmith-build-your-house-around-my-body-fiction',
 '/reviews/26390-j-michael-straczynski-together-we-will-go-fiction']

In [305]:
review_list=[]
for i in urls:
    book=requests.get('https://bookpage.com/' + i)
    soup=BeautifulSoup(book.content,'html.parser')
    review=soup.find('div',class_="article-body")
    review_list.append(review.text.replace('\n',''))
review_list

['Prepare for surprises galore in How to Find Your Way in the Dark, a rollicking novel that begins with a lonely truck ride in New England in 1938 and follows its characters through a decade of fascinating history. Just when you think the story is heading one way, it veers in another, completely unexpected direction.Twelve-year-old Sheldon Horowitz and his father are driving home from Hartford, Connecticut, to Whately, Massachusetts, after honoring the one-year anniversary of Sheldon’s mother’s death. She and her sister died in a horrific movie theater fire in Hartford. And as if that isn’t enough tragedy for the novel’s first 13 pages, a truck purposely forces Sheldon and his father’s car off the road during their return trip, and Sheldon’s father dies.Readers of Derek B. Miller’s award-winning thriller, Norwegian by Night, will recognize Sheldon as that novel’s 82-year-old protagonist. As a Tom Sawyer-like boy in How to Find Your Way in the Dark, Sheldon is determined to make sense of his double tragedies, and his attempts to do so take the reader on one hell of a ride. As he seeks out the leering, mustached truck driver who killed his father, his quest leads him straight into danger—think mobsters, guns and jewel thefts.Miller has crafted a wide-ranging, years-spanning yet tightly structured plot, and he excels at placing memorable characters in unusual circumstances. Sheldon is joined in his adventures by his two older cousins, Abe and Mirabelle, and his best friend, Lenny, all of whom play pivotal roles. One summer, Lenny and Sheldon end up as bellhops at the famed Grossinger’s Resort in the Catskills, where Lenny practices standup comedy amid the glamorous, bustling atmosphere.An underlying seriousness lies at the heart of all of this intrigue, hilarity and fun. Sheldon, Abe, Mirabelle and Lenny, all Jewish, must confront the many faces of antisemitism during the turbulent years of World War II. Miller weaves in a multitude of historical details, including reports of the horrors in Europe and America’s reluctance to intervene.The ending of How to Find Your Way in the Dark is nothing short of brilliant, tying up a variety of loose ends while making a powerful statement about the need to fully recognize and address antisemitism. Readers are left with much to ponder, including life’s many uncertainties and cruel twists of fate. Despite these unhappy truths, we are also left with the uplifting wisdom of Lenny’s urgent prayer: “Dear God, give me the strength to be joyful.”',
 'Miranda Fitch, the protagonist of Mona Awad’s third novel, All’s Well, might best be described—to borrow the title of the 1988 Pedro Almodóvar film—as a woman on the verge of a nervous breakdown. A professor of theater studies at a small liberal arts college in Massachusetts, she’s laboring mightily to stage a student production of Shakespeare’s All’s Well That Ends Well, which she thinks of as a “problem play,” one that’s “neither a tragedy nor a comedy. Both, always both.”Apart from a rebellious cast, Miranda’s primary obstacle is unremitting pain from an injury she sustained when she tumbled from a stage during her promising but brief acting career. The resulting hip injury led to serious back problems unrelieved by the ministrations of a string of doctors and physical therapists, transforming Miranda, divorced and not yet 40 years old, into a pill-gobbling automaton who has abandoned all hope of her own happy ending.All’s Well quickly leaves behind this depressingly naturalistic scenario to veer into the realm of fabulism when Miranda encounters three mysterious men in a local pub. The trio, who inexplicably have intimate knowledge of her life and struggles, grace her with what seems like a miracle cure. But as she discovers, even healing can come at a price.Awad efficiently portrays both Miranda’s confrontation with chronic pain and the slowly evaporating patience of the people in her orbit (her ex-husband, Paul; colleague and friend Grace; and Mark, the last in a chain of physical therapists) with her lack of improvement. Anyone who’s been similarly afflicted or knows someone who has will recognize this scenario. Awad leaves it to the reader to assess how much of Miranda’s mental turmoil is the product of an inexplicable but desperately welcome truce in her battle with pain, and how much flows from her encounter with supernatural forces. It’s a wild, at times over-the-top ride, but like Shakespeare’s eponymous work, there’s both pathos and humor in this story of how we suffer and the ways in which we’re healed.',
 'It’s been nine years since the publication of Jeanne Thornton’s debut, The Dream of Doctor Bantam, and her second novel, Summer Fun, has been worth the wait. Dizzying and deliciously weird, it’s a sprawling yet intimate story about music, hidden trans histories and the transformative act of creation.Gala, a trans woman living in small-town New Mexico, is obsessed with a classic 1960s pop band called the Get Happies and their mysterious lead singer, B\xa0 \xa0 \xa0 \xa0. In a series of remarkable letters to B\xa0 \xa0 \xa0 \xa0, full of whip-smart observations and dark humor, Gala slowly reveals the true story of B\xa0 \xa0 \xa0 \xa0’s life and music, shedding light on herself in the process.This is no ordinary epistolary novel. Thornton discards convention, choosing instead to use the form to explore the possibilities of cross-generational queer and trans conversations. Gala’s letters act as a kind of portal, a manifestation of trans magic. She addresses B\xa0 \xa0 \xa0 \xa0 directly, often inhabiting the singer’s thoughts and emotions. Gala tells B\xa0 \xa0 \xa0 \xa0’s story from the inside, as if she were the one who lived it. Each letter is a small act of discovery, an unfolding mystery. The unique epistolary format makes space for deep connections, not only between Gala and B\xa0 \xa0 \xa0 \xa0 but also between Gala and the reader. It is impossible not to read these heartfelt missives without becoming wholly invested in her world.Reflecting on the impossibility of authenticity in the music industry, Gala muses as B\xa0 \xa0 \xa0 \xa0, “No one gets to sound like who they are; that isn’t how success operates.” But Thornton proves this isn’t always the case. Gala’s narration is singular—assured, sarcastic and yearning. She’s determined to tell her story, as well as B\xa0 \xa0 \xa0 \xa0’s, through her own particular lens, unrefined and vulnerable, full of messy contradictions. Thornton’s plotting is masterful, her prose elegant and her characterization nuanced. But it’s the emotional heft of Gala’s narrative voice that sets this novel apart.Summer Fun is unpredictable and delightful, structurally innovative and epic in scope. It’s a heartbreaking yet hopeful addition to the growing canon of literature that celebrates the complexity of trans lives.',
 'According to the UN Refugee Agency, there were more than 26 million refugees worldwide at the end of 2019. Amid food insecurity, oppression and injustice, the global refugee crisis shows no signs of slowing, as migrants dare to cross dangerous seas on overcrowded ferries, fishing trawlers or other vessels in hopes of finding a better life. Many refugees fail to reach the next shore, becoming victims of dangerous waters or border patrols who turn them away.For Amir Utu, a 9-year-old Syrian boy in Omar El Akkad’s riveting second novel, What Strange Paradise, the voyage is at first a grand adventure, like in the comic books he reads. But after washing ashore on an unnamed island’s beach as the only survivor, Amir soon learns that this is no adventure but rather a matter of survival. Almost at once, he is pursued by soldiers combing the beach, and he must flee to escape them, though he barely understands why he is running in the first place.Amir’s flight brings him in contact with 15-year-old Vänna Hermes, who takes pity on him, hides him from the soldiers and tries to help him to safety. Amir is unable to understand Vänna’s language, but as the pair builds an unusual bond, Amir finds a friend amid a hostile world.An international journalist and author of the acclaimed novel American War, El Akkad shapes What Strange Paradise mostly through Amir’s point of view, alternating between the boy’s immediate past and his present situation as he struggles to comprehend his plight. The author’s decision to focus on Amir’s youthful innocence serves to downplay the serious political undertones of the refugee crisis, transforming the boy’s tale into an intimate action-adventure story that’s laced with hope and compassion, emotions with the power to transcend borders and worldly disputes.',
 'Sunjeev Sahota’s brilliant second novel, the 2015 Booker Prize short-listed The Year of the Runaways, was a sweeping and absorbing look at hardscrabble Indian immigrant life in working-class England. His third book, China Room, is a shorter, more intimate novel that still tells a compelling and devastating tale. It’s also partially based on a true story.The novel alternates between two storylines in the 1920s and 1990s. The earlier timeline, which is based in part on Sahota’s great-grandmother’s experiences, is set in India’s heavily agricultural Punjab region. Notoriously patriarchal, rural India has been slow to offer women certain rights and opportunities, especially a century ago. Three brothers are married to young girls, including 15-year-old Mehar, in a triple ceremony. The girls are ruled with an iron fist by their mother-in-law, Mai, who barks orders like a military general and demeans them every chance she gets. Mai permits nightly visits between her sons and their new wives, but only in pitch darkness. In the confusion, an illicit affair begins.The second story, set during the summer of 1999, centers on Mehar’s great-grandson. Narrating from 2019, the man describes traveling to India, seeking refuge from the heroin that has wrecked his health and the racism that has broken apart his family in the U.K. While trying to overcome his addiction, he finds himself going cold turkey in the now rundown “china room” where Mehar used to live along with her sisters-in-law. The man’s story somewhat echoes Mehar’s, and when he falls for a female doctor who’s more than a decade older than he, the local village is rife with gossip.Through short chapters and sparse, tightly wrought prose, Sahota’s novel is both easy to read and difficult to put down. Something of a hometown hero, not only in the old steel town of Sheffield, where he currently resides, but also to British Indian and Asian writers, Sahota cements his place in a vibrant literary canon alongside Salman Rushdie, Kamila Shamsie, Mohsin Hamid, Hari Kunzru and others.',
 'In Anuk Arudpragasam’s elegantly discursive second novel, memory, trauma and collective action determine the arc of lives.A Passage North begins in Colombo, Sri Lanka, where a young man named Krishan is mulling over an email from his cryptic ex-girlfriend, an activist named Anjum, whom he dated years ago in Delhi, India. Moments later, Krishan learns his grandmother’s caretaker, Rani, has mysteriously fallen down a well and died.\xa0These two events set the wheels in motion for Krishan’s journey to the center of himself. He boards a train to northern Sri Lanka to attend Rani’s funeral, but his journey exists more in mind than body. He meditates on his brief but engulfing love affair with Anjum and is haunted by the government-sanctioned persecution of the Tamil people.For readers unfamiliar with the Sri Lankan Civil War, A Passage North offers perspective on the Sinhalese-dominated government’s conflict with the Liberation Tigers of Tamil Eelam. The insurrectionist Tamil Tigers fought to form an independent state so their ethno-linguistic minority group could escape subjugation, rape and killing. Arudpragasam raises questions about unfettered devotion to higher causes as Krishan struggles to find his own true purpose, the way Anjum seemed to find hers by forming a politically active commune away from Delhi—and away from their life together.Arudpragasam expertly captures the ambiguity of romance between two young people who feel the call of the broader world even as they cling to each other. Krishan recalls meeting Anjum through the queer scene in Delhi, where he was enraptured by her easy confidence, her knowledge of poetry and languages, and the way she stared back at men who ogled her, forcing them to confront their own gaze. While Arudpragasam’s writing remains observational throughout, this love story adds heat and intrigue to an otherwise philosophical novel.In A Passage North, past and present bleed together. Flipping through the novel’s pages, the reader will notice an absence of white space and section breaks outside of chapter demarcations. There is no direct dialogue either. In this way, the novel is reminiscent of José Saramago’s work. But Arudpragasam’s writing is exceptionally graceful, which allows the text to flow despite its density. The lack of action may frustrate some readers, but this structure creates an otherwise impossible narrative reverie. Ultimately, A Passage North is an elegant story whose discursive nature pays off.\xa0 \xa0',
 'The funny and sharp fourth novel by acclaimed Bangladesh-born British author Tahmima Anam, The Startup Wife, exposes the folly of looking for leadership in the startup sector, which reveres disruption in all areas except its own.In this brilliantly incisive social novel, a quasi-faith community springs from a social media platform called WAI, short for “We Are Infinite.” WAI uses an algorithm to design personalized rituals based on three meaningful elements of a person’s life—and then introduces that person to a like-minded community.It’s easy to see why WAI would be appealing. Its rituals fill the void many modern-day people feel in the absence of organized religion. The platform\'s essential concept is that if we treat something as sacred, we believe that it is more than entertainment, that it offers moral rewards and is worthy of rigorous contemplation. (Listeners to the "Harry Potter and the Sacred Text" podcast will find this idea familiar.)But first, the novel begins with a love story: Thirteen years after high school, Asha Ray reunites with her crush, Cyrus Jones, when they attend a memorial for their late English teacher. Asha is four years into her Ph.D. at Harvard, and Cyrus has become a charismatic spiritual polyglot. He’s traveled the world, collecting bits of philosophy and religion from an endless variety of sources, and distilled them into something people can use in their own lives. “I create rituals,” he says.Cyrus and Asha’s intellectual connection is intense, and soon, so is their physical relationship. The novel focuses on their all-encompassing, interconnected work-life partnership, which also includes, to a lesser extent, their best friend, Jules. When Asha’s artificial intelligence research hits a roadblock, she draws inspiration from Cyrus’ work and decides “to start a platform that [allows] people without religion to practice a form of faith.” Through Asha’s programming wizardry, WAI becomes a life-changing phenomenon. But it quickly becomes clear that the platform, intended to bring people together, is likely to blow the triad apart.The Startup Wife is framed as a satirical novel about startup culture, but because Americans revere that culture, its foibles and failings are our failures, too. Tech investors subscribe to the “great man” theory of history as much as the rest of America, and this unavoidable fact begins to spoil Asha’s relationships with her two male partners. Investors are more apt to provide valuable exposure and support to a passion project fronted by a brilliant (usually white) man rather than a geeky brown woman. So even though Asha’s research is the source of the platform’s Empathy Module algorithm, handsome Cyrus becomes the figurehead for WAI. Initially resistant to making his spiritual practice into a business, he is easily seduced into playing CEO and messiah.While The Startup Wife is full of beautifully messy and enviable characters, Asha’s fierce feminism and candor stand out. Of course, she’s far from innocent. She’s a creative genius who wants her due, just as any man would. But it’s a delight to experience Asha’s first-person perspective of the world and her metamorphosis into a powerful, flawed woman.Because The Startup Wife is sexy and funny and puts relationships at the forefront, it might be easy to overlook its depth and sophistication. But its priorities are right where they should be. When people create a community with their friends and lovers, it is inevitable that boundaries will dissolve and that friendship, love, ego and identity will become intertwined. The Startup Wife’s insights about modern relationships, gender politics, race, technology and culture are as excellent and vital as its storytelling.',
 'Unembellished and forthright, The Tiger Mom’s Tale is a touching story that illuminates intricacies of race, ethnicity, traditions and stereotypes.Thirty-something Lexa Thomas is a fitness trainer living in New York City, and she’s trying to adjust to the news that her white mother is divorcing Lexa’s white stepfather after falling for an Asian American acupuncturist. Then Lexa receives a call from her half sister in Taiwan, Hsu-Ling, who informs Lexa that their biological father has died. This stirs up memories of what happened during Lexa’s last visit to Taiwan, when she was forced to abandon her father and her heritage 22 years ago.But Hsu-Ling has more news. Their Uncle Pong has also died, within moments of their father’s death, and he left a mysterious letter for Lexa. Encouraged by her two half sisters, one Taiwanese and the other a white American, Lexa returns to Taiwan to claim her rightful place in the family.Lyn Liao Butler’s tale is a literary melting pot brimming with blended families and cultures. The straightforward, exposition-heavy narrative is sprinkled with Mandarin and broad references to different Asian foods and cultural elements, although the lack of development of these aspects may distract the reader from fully immersing themselves in Lexa’s journey to connect with her heritage. Scenes that reveal backstory and the surprising events that turned Lexa away from her Taiwanese relatives slowly tease out the novel’s climax.Lexa’s gentle humility and quiet confidence will garner the support of readers looking for a likable protagonist. A heartwarming romantic subplot is a sweet result of Lexa’s transformation and self-acceptance and provides another union of ethnic backgrounds.Filled with potential book club discussion topics and perfect for fans of YA novels by Jenny Han, The Tiger Mom’s Tale will unleash timely dialogue about identity, family secrets and cultural divides.',

In [306]:
len(review_list)

10

In [308]:
books=pd.DataFrame()

books['Book']=book_name
books['Author']=author_list
books['Genre']=genre_list
books['Review']=review_list

books

,Book,Author,Genre,Review
0,How to Find Your Way in the Dark,Derek B. Miller,Fiction / Coming of Age,Prepare for surprises galore in How to Find Yo...
1,All’s Well,Mona Awad,Fiction / Literary Fiction,"Miranda Fitch, the protagonist of Mona Awad’s ..."
2,Summer Fun,Jeanne Thornton,Fiction / Literary Fiction,It’s been nine years since the publication of ...
3,What Strange Paradise,Omar El Akkad,Fiction / Literary Fiction,"According to the UN Refugee Agency, there were..."
4,China Room,Sunjeev Sahota,Fiction / Literary Fiction,"Sunjeev Sahota’s brilliant second novel, the 2..."
5,A Passage North,Anuk Arudpragasm,Fiction / Literary Fiction,In Anuk Arudpragasam’s elegantly discursive se...
6,The Startup Wife,Tahmima Anam,Fiction / Literary Fiction,The funny and sharp fourth novel by acclaimed ...
7,The Tiger Mom’s Tale,Lyn Liao Butler,Fiction / Family Drama,"Unembellished and forthright, The Tiger Mom’s ..."
8,Build Your House Around My Body,Violet Kupersmith,Fiction / Literary Fiction,Remember the smoke monster from “Lost”? It app...
9,Together We Will Go,J. Michael Straczynski,Fiction / Popular Fiction,"As Together We Will Go opens, 29-year-old Mark..."

In [309]:
books.head()

,Book,Author,Genre,Review
0,How to Find Your Way in the Dark,Derek B. Miller,Fiction / Coming of Age,Prepare for surprises galore in How to Find Yo...
1,All’s Well,Mona Awad,Fiction / Literary Fiction,"Miranda Fitch, the protagonist of Mona Awad’s ..."
2,Summer Fun,Jeanne Thornton,Fiction / Literary Fiction,It’s been nine years since the publication of ...
3,What Strange Paradise,Omar El Akkad,Fiction / Literary Fiction,"According to the UN Refugee Agency, there were..."
4,China Room,Sunjeev Sahota,Fiction / Literary Fiction,"Sunjeev Sahota’s brilliant second novel, the 2..."

## Q5. Write a python program to scrape cricket rankings from ‘www.icc-cricket.com’. You have to scrape:
**i) Top 10 ODI teams in men’s cricket along with the records for matches, points andrating.**

In [68]:
cric_page=requests.get('https://www.icc-cricket.com/rankings/mens/team-rankings/odi')
cric_page

In [85]:
cric_soup=BeautifulSoup(cric_page.content)

In [108]:
#num_of_matches=[]
ratings=[]
#points=[]
#new_list=[]

In [89]:
match=cric_soup.find_all('td',class_="rankings-block__banner--matches")

In [90]:
for i in match:
    num_of_matches.append(i.text)
num_of_matches

['17']

In [91]:
match1=cric_soup.find_all('td',class_="table-body__cell u-center-text")
complete_info=[]

for i in match1:
    complete_info.append(i.text)
complete_info

['32',
 '3,793',
 '27',
 '3,109',
 '32',
 '3,624',
 '22',
 '2,267',
 '27',
 '2,524',
 '29',
 '2,639',
 '29',
 '2,458',
 '29',
 '2,303',
 '17',
 '1,054',
 '7',
 '336',
 '23',
 '1,067',
 '17',
 '646',
 '7',
 '258',
 '7',
 '240',
 '5',
 '119',
 '9',
 '190',
 '6',
 '97',
 '8',
 '93',
 '5',
 '0']

In [98]:
for i in range(0,len(complete_info),2):
    num_of_matches.append(complete_info[i])
num_of_matches

['17',
 '32',
 '27',
 '32',
 '22',
 '27',
 '29',
 '29',
 '29',
 '17',
 '7',
 '23',
 '17',
 '7',
 '7',
 '5',
 '9',
 '6',
 '8',
 '5',
 '32',
 '27',
 '32',
 '22',
 '27',
 '29',
 '29',
 '29',
 '17',
 '7',
 '23',
 '17',
 '7',
 '7',
 '5',
 '9',
 '6',
 '8',
 '5',
 '32',
 '27',
 '32',
 '22',
 '27',
 '29',
 '29',
 '29',
 '17',
 '7',
 '23',
 '17',
 '7',
 '7',
 '5',
 '9',
 '6',
 '8',
 '5',
 '32',
 '27',
 '32',
 '22',
 '27',
 '29',
 '29',
 '29',
 '17',
 '7',
 '23',
 '17',
 '7',
 '7',
 '5',
 '9',
 '6',
 '8',
 '5',
 '32',
 '27',
 '32',
 '22',
 '27',
 '29',
 '29',
 '29',
 '17',
 '7',
 '23',
 '17',
 '7',
 '7',
 '5',
 '9',
 '6',
 '8',
 '5',
 '32',
 '27',
 '32',
 '22',
 '27',
 '29',
 '29',
 '29',
 '17',
 '7',
 '23',
 '17',
 '7',
 '7',
 '5',
 '9',
 '6',
 '8',
 '5']

In [99]:
pnt=cric_soup.find_all('td',class_="rankings-block__banner--points")

for i in pnt:
    points.append(i.text)
points

['2,054']

In [100]:
for i in range(1,len(complete_info),2):
    points.append(complete_info[i])
points

['2,054',
 '3,793',
 '3,109',
 '3,624',
 '2,267',
 '2,524',
 '2,639',
 '2,458',
 '2,303',
 '1,054',
 '336',
 '1,067',
 '646',
 '258',
 '240',
 '119',
 '190',
 '97',
 '93',
 '0']

In [109]:
rtng=cric_soup.find_all('td',class_="rankings-block__banner--rating u-text-right")

for i in rtng:
    ratings.append(i.text.replace('\n','').strip())
ratings

['121']

In [110]:
complete_rtng=cric_soup.find_all('td',class_="table-body__cell u-text-right rating")
for i in complete_rtng:
    ratings.append(i.text.replace('\n','').strip())
ratings

['121',
 '119',
 '115',
 '113',
 '103',
 '93',
 '91',
 '85',
 '79',
 '62',
 '48',
 '46',
 '38',
 '37',
 '34',
 '24',
 '21',
 '16',
 '12',
 '0']

In [111]:
teams=[]

In [112]:
team=cric_soup.find_all('span',class_="u-show-phablet")

for i in team:
    teams.append(i.text)
teams

['NZ',
 'ENG',
 'AUS',
 'IND',
 'SA',
 'PAK',
 'BAN',
 'WI',
 'SL',
 'AFG',
 'NED',
 'IRE',
 'ZIM',
 'SCO',
 'OMA',
 'NEP',
 'UAE',
 'NAM',
 'USA',
 'PNG',
 '',
 '',
 '',
 '',
 '']

In [115]:
position=[]

rank=cric_soup.find_all('td',class_="rankings-block__banner--pos")

for i in rank:
    position.append(i.text)
position

['1']

In [116]:
total_rank=cric_soup.find_all('td',class_="table-body__cell table-body__cell--position u-text-right")

for i in total_rank:
    position.append(i.text)
position

['1',
 '2',
 '3',
 '4',
 '5',
 '6',
 '7',
 '8',
 '9',
 '10',
 '11',
 '12',
 '13',
 '14',
 '15',
 '16',
 '17',
 '18',
 '19',
 '20']

In [121]:
top_10_odi_teams=pd.DataFrame()
top_10_odi_teams['Position']=position[:10]
top_10_odi_teams['Team']=teams[:10]
top_10_odi_teams['Matches']=num_of_matches[0:10]
top_10_odi_teams['Points']=points[0:10]
top_10_odi_teams['Rating']=ratings[0:10]

top_10_odi_teams=top_10_odi_teams.style.hide_index()
top_10_odi_teams

## Q5. Write a python program to scrape cricket rankings from ‘www.icc-cricket.com’. You have to scrape:
**ii) Top 10 ODI Batsmen in men along with the records of their team and rating.**

In [123]:
player_page=requests.get('https://www.icc-cricket.com/rankings/mens/player-rankings/odi')
player_soup=BeautifulSoup(player_page.content)

In [136]:
name1=player_soup.find('div',class_="rankings-block__banner--name")
name1.text

'Babar Azam'

In [137]:
name_list=[]
name_list.append(name1.text)
name_list

['Babar Azam']

In [138]:
name=player_soup.find_all('td',class_="table-body__cell name")

In [139]:
for i in name:
    name_list.append(i.text.replace('\n',''))
    
name_list

['Babar Azam',
 'Virat Kohli',
 'Rohit Sharma',
 'Ross Taylor',
 'Aaron Finch',
 'Jonny Bairstow',
 'David Warner',
 'Quinton de Kock',
 'Shai Hope',
 'Kane Williamson',
 'Josh Hazlewood',
 'Mujeeb Ur Rahman',
 'Chris Woakes',
 'Mehedi Hasan',
 'Matt Henry',
 'Jasprit Bumrah',
 'Mitchell Starc',
 'Shakib Al Hasan',
 'Kagiso Rabada',
 'Mohammad Nabi',
 'Chris Woakes',
 'Rashid Khan',
 'Mitchell Santner',
 'Ben Stokes',
 'Colin de Grandhomme',
 'Imad Wasim',
 'Ravindra Jadeja',
 'Sikandar Raza',
 'Virat Kohli',
 'Rohit Sharma',
 'Ross Taylor',
 'Aaron Finch',
 'Jonny Bairstow',
 'David Warner',
 'Quinton de Kock',
 'Shai Hope',
 'Kane Williamson',
 'Josh Hazlewood',
 'Mujeeb Ur Rahman',
 'Chris Woakes',
 'Mehedi Hasan',
 'Matt Henry',
 'Jasprit Bumrah',
 'Mitchell Starc',
 'Shakib Al Hasan',
 'Kagiso Rabada',
 'Mohammad Nabi',
 'Chris Woakes',
 'Rashid Khan',
 'Mitchell Santner',
 'Ben Stokes',
 'Colin de Grandhomme',
 'Imad Wasim',
 'Ravindra Jadeja',
 'Sikandar Raza']

In [157]:
nation1=player_soup.find('div',class_="rankings-block__banner--nationality")

In [165]:
nation_list=[]
nation_list.append(nation1.text[0:5].replace('\n',''))
nation_list

['PAK']

In [166]:
nation=player_soup.find_all('span',class_="table-body__logo-text")
for i in nation:
    nation_list.append(i.text)
nation_list

['PAK',
 'IND',
 'IND',
 'NZ',
 'AUS',
 'ENG',
 'AUS',
 'SA',
 'WI',
 'NZ',
 'AUS',
 'AFG',
 'ENG',
 'BAN',
 'NZ',
 'IND',
 'AUS',
 'BAN',
 'SA',
 'AFG',
 'ENG',
 'AFG',
 'NZ',
 'ENG',
 'NZ',
 'PAK',
 'IND',
 'ZIM',
 'IND',
 'IND',
 'NZ',
 'AUS',
 'ENG',
 'AUS',
 'SA',
 'WI',
 'NZ',
 'AUS',
 'AFG',
 'ENG',
 'BAN',
 'NZ',
 'IND',
 'AUS',
 'BAN',
 'SA',
 'AFG',
 'ENG',
 'AFG',
 'NZ',
 'ENG',
 'NZ',
 'PAK',
 'IND',
 'ZIM']

In [168]:
rating_list=[]
rating_list.append(nation1.text[-4:-1].replace('\n',''))
rating_list

['873']

In [169]:
rating=player_soup('td',class_="table-body__cell u-text-right rating")
for i in rating:
    rating_list.append(i.text)
rating_list

['873',
 '844',
 '813',
 '801',
 '779',
 '775',
 '762',
 '758',
 '758',
 '754',
 '709',
 '708',
 '700',
 '692',
 '691',
 '679',
 '652',
 '650',
 '648',
 '294',
 '282',
 '270',
 '268',
 '266',
 '257',
 '256',
 '238',
 '237',
 '844',
 '813',
 '801',
 '779',
 '775',
 '762',
 '758',
 '758',
 '754',
 '709',
 '708',
 '700',
 '692',
 '691',
 '679',
 '652',
 '650',
 '648',
 '294',
 '282',
 '270',
 '268',
 '266',
 '257',
 '256',
 '238',
 '237']

In [177]:
import numpy as np
rank_list=np.arange(1,11)



rank_list

array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10])

In [180]:
top_10_ODI_batsmen=pd.DataFrame()

top_10_ODI_batsmen['Rank']=rank_list
top_10_ODI_batsmen['Player Name']=name_list[:10]
top_10_ODI_batsmen['Nationality']=nation_list[:10]
top_10_ODI_batsmen['Rating']=rating_list[:10]

top_10_ODI_batsmen=top_10_ODI_batsmen.style.hide_index()
top_10_ODI_batsmen

## Q5. Write a python program to scrape cricket rankings from ‘www.icc-cricket.com’. You have to scrape:
**iii) Top 10 ODI bowlers along with the records of their team andrating.**

In [219]:
bowler_page=requests.get('https://www.icc-cricket.com/rankings/mens/player-rankings/odi/bowling')
bowler_soup=BeautifulSoup(bowler_page.content)

In [227]:
bowler_name=[]
bowler1=bowler_soup.find_all('div',class_="rankings-block__banner--name-large")
#bowlers.text
for i in bowler1:
    bowler_name.append(i.text)
bowler_name

['Trent Boult']

In [228]:
bowlers=bowler_soup('td',class_="table-body__cell rankings-table__name name")
for i in bowlers:
    bowler_name.append(i.text.replace('\n',''))
bowler_name

['Trent Boult',
 'Josh Hazlewood',
 'Mujeeb Ur Rahman',
 'Chris Woakes',
 'Mehedi Hasan',
 'Matt Henry',
 'Jasprit Bumrah',
 'Mitchell Starc',
 'Shakib Al Hasan',
 'Kagiso Rabada',
 'Mustafizur Rahman',
 'Pat Cummins',
 'Shaheen Afridi',
 'Mohammad Amir',
 'Rashid Khan',
 'Adam Zampa',
 'Bhuvneshwar Kumar',
 'Lachlan Ferguson',
 'Jofra Archer',
 'Akila Dananjaya',
 'Yuzvendra Chahal',
 'Lungi Ngidi',
 'Mohammad Nabi',
 'Mark Wood',
 'Alzarri Joseph',
 'Mitchell Santner',
 'Mohammad Shami',
 'Kuldeep Yadav',
 'Ravindra Jadeja',
 'Sheldon Cottrell',
 'Ahmed Raza',
 'Andy McBrine',
 'Shadab Khan',
 'Dushmantha Chameera',
 'Wanindu De Silva',
 'Colin de Grandhomme',
 'Tabraiz Shamsi',
 'David Willey',
 'Tim Southee',
 'Andile Phehlukwayo',
 'Adil Rashid',
 'Ish Sodhi',
 'Mark Watt',
 'Imad Wasim',
 'Hasan Ali',
 'Usman Khan',
 'Jhye Richardson',
 'Rohan Mustafa',
 'Simi Singh',
 'Mashrafe Mortaza',
 'Mohammad Mohammad Saifuddin',
 'Safyaan Sharif',
 'Tendai Chatara',
 'Nuwan Pradeep',
 'Jimmy Neesham',
 'Saqib Mahmood',
 'Jason Holder',
 'Moeen Ali',
 'Wahab Riaz',
 'Faheem Ashraf',
 'Akeal Hosein',
 'Suranga Lakmal',
 'Sikandar Raza',
 'Blessing Muzarabani',
 'Tom Curran',
 'Ashton Agar',
 'Taskin Ahmed',
 'Anrich Nortje',
 'Josh Davey',
 'Joshua Little',
 'Craig Young',
 'Sean Williams',
 'Kane Richardson',
 'Ben Stokes',
 'Shardul Thakur',
 'Rubel Hossain',
 'Gulbadin Naib',
 'Hardik Pandya',
 'Alasdair Evans',
 'Keshav Maharaj',
 'Barry McCarthy',
 'Mitchell Marsh',
 'Dhananjaya de Silva',
 'Marcus Stoinis',
 'Lakshan Sandakan',
 'Taijul Islam',
 'Mohammad Nawaz',
 'Donald Tiripano',
 'Assad Vala',
 'Fred Klaassen',
 'George Dockrell',
 'Oshane Thomas',
 'Kyle Jamieson',
 'Michael Leask',
 'Zeeshan Maqsood',
 'Sharafuddin Ashraf',
 'Roston Chase',
 'Bilal Khan',
 'Saurabh Netravalkar',
 'Norman Vanua']

In [232]:
bowlers_team=[]
teamb=bowler_soup.find('div',class_="rankings-block__banner--nationality")
bowlers_team.append(teamb.text.replace('\n','').strip())
bowlers_team

['NZ']

In [233]:
teamsb=bowler_soup.find_all('span',class_="table-body__logo-text")
for i in teamsb:
    bowlers_team.append(i.text)
bowlers_team

['NZ',
 'AUS',
 'AFG',
 'ENG',
 'BAN',
 'NZ',
 'IND',
 'AUS',
 'BAN',
 'SA',
 'BAN',
 'AUS',
 'PAK',
 'PAK',
 'AFG',
 'AUS',
 'IND',
 'NZ',
 'ENG',
 'SL',
 'IND',
 'SA',
 'AFG',
 'ENG',
 'WI',
 'NZ',
 'IND',
 'IND',
 'IND',
 'WI',
 'UAE',
 'IRE',
 'PAK',
 'SL',
 'SL',
 'NZ',
 'SA',
 'ENG',
 'NZ',
 'SA',
 'ENG',
 '',
 'SCO',
 'PAK',
 'PAK',
 'PAK',
 'AUS',
 'UAE',
 'IRE',
 'BAN',
 'BAN',
 'SCO',
 'ZIM',
 'SL',
 'NZ',
 'ENG',
 'WI',
 'ENG',
 'PAK',
 'PAK',
 'WI',
 'SL',
 'ZIM',
 'ZIM',
 'ENG',
 'AUS',
 'BAN',
 'SA',
 'SCO',
 'IRE',
 'IRE',
 'ZIM',
 'AUS',
 'ENG',
 'IND',
 'BAN',
 'AFG',
 'IND',
 'SCO',
 'SA',
 'IRE',
 'AUS',
 'SL',
 'AUS',
 'SL',
 'BAN',
 'PAK',
 'ZIM',
 'PNG',
 'NED',
 'IRE',
 'WI',
 'NZ',
 'SCO',
 'OMA',
 'AFG',
 '',
 'OMA',
 'USA',
 'PNG']

In [236]:
bowler_rating=[]
ratingb=bowler_soup.find('div',class_="rankings-block__banner--rating")
bowler_rating.append(ratingb.text)
bowler_rating

['737']

In [238]:
ratingsb=bowler_soup.find_all('td',class_="table-body__cell rating")
for i in ratingsb:
    bowler_rating.append(i.text)
bowler_rating

['737',
 '709',
 '708',
 '700',
 '692',
 '691',
 '679',
 '652',
 '650',
 '648',
 '640',
 '636',
 '630',
 '628',
 '626',
 '625',
 '621',
 '619',
 '609',
 '604',
 '603',
 '599',
 '596',
 '594',
 '592',
 '583',
 '566',
 '562',
 '550',
 '541',
 '531',
 '527',
 '517',
 '514',
 '508',
 '508',
 '501',
 '501',
 '500',
 '497',
 '497',
 '496',
 '490',
 '488',
 '483',
 '482',
 '480',
 '477',
 '473',
 '469',
 '468',
 '467',
 '465',
 '459',
 '458',
 '454',
 '451',
 '449',
 '447',
 '445',
 '443',
 '443',
 '440',
 '437',
 '436',
 '436',
 '434',
 '431',
 '427',
 '421',
 '421',
 '420',
 '416',
 '410',
 '405',
 '400',
 '399',
 '394',
 '394',
 '394',
 '391',
 '390',
 '388',
 '377',
 '376',
 '374',
 '370',
 '367',
 '361',
 '358',
 '357',
 '355',
 '352',
 '351',
 '350',
 '347',
 '347',
 '344',
 '343',
 '342']

In [240]:
top_10_odi_bowlers=pd.DataFrame()

top_10_odi_bowlers['Rank']=np.arange(1,11)
top_10_odi_bowlers['Name']=bowler_name[:10]
top_10_odi_bowlers['Nationality']=bowlers_team[0:10]
top_10_odi_bowlers['Ratings']=bowler_rating[0:10]

top_10_odi_bowlers=top_10_odi_bowlers.style.hide_index()
top_10_odi_bowlers

## 6. Write a python program to scrape cricket rankings from ‘www.icc-cricket.com’. You have toscrape:
**i) Top 10 ODI teams in women’s cricket along with the records for matches, points andrating.**

In [375]:
wcric_page=requests.get('https://www.icc-cricket.com/rankings/womens/team-rankings/odi')
wcric_soup=BeautifulSoup(wcric_page.content)

In [379]:
wteams_list=[]
wteams=wcric_soup.find_all('span',class_="u-hide-phablet")
for i in wteams:
    wteams_list.append(i.text)
wteams_list

['Australia',
 'England',
 'South Africa',
 'India',
 'New Zealand',
 'West Indies',
 'Pakistan',
 'Bangladesh',
 'Sri Lanka',
 'Ireland',
 '',
 '',
 '',
 '',
 '']

In [401]:
wmatches_list=[]

wmatch1=wcric_soup.find('td',class_="rankings-block__banner--matches")
wmatches_list.append(wmatch1.text)
wmatches_list

['18']

In [403]:
wmatches_points=wcric_soup.find_all('td',class_="table-body__cell u-center-text")
match_points_list=[]
for i in wmatches_points:
    match_points_list.append(i.text)
match_points_list

['20',
 '2,370',
 '24',
 '2,828',
 '23',
 '2,535',
 '21',
 '1,947',
 '17',
 '1,427',
 '20',
 '1,496',
 '5',
 '306',
 '11',
 '519',
 '2',
 '25']

In [404]:
for i in range(0,len(match_points_list),2):
    wmatches_list.append(match_points_list[i])
wmatches_list

['18', '20', '24', '23', '21', '17', '20', '5', '11', '2']

In [405]:
points_list=[]
points1=wcric_soup.find('td',class_="rankings-block__banner--points")
points_list.append(points1.text)
points_list

['2,955']

In [406]:
for i in range(1,len(match_points_list),2):
    points_list.append(match_points_list[i])
points_list

['2,955',
 '2,370',
 '2,828',
 '2,535',
 '1,947',
 '1,427',
 '1,496',
 '306',
 '519',
 '25']

In [409]:
wratings_list=[]

wrating1=wcric_soup.find('td',class_="rankings-block__banner--rating u-text-right")
wratings_list.append(wrating1.text.replace('\n','').strip())
wratings_list

['164']

In [411]:
wratings=wcric_soup.find_all('td',class_="table-body__cell u-text-right rating")
for i in wratings:
    wratings_list.append(i.text.replace('\n','').strip())
wratings_list

['164', '119', '118', '110', '93', '84', '75', '61', '47', '13']

In [412]:
top_10_Wodi_teams=pd.DataFrame()
top_10_Wodi_teams['Rank']=np.arange(1,11)
top_10_Wodi_teams['Team']=wteams_list[:10]
top_10_Wodi_teams['Matches']=wmatches_list
top_10_Wodi_teams['Points']=points_list
top_10_Wodi_teams['Rating']=wratings_list

top_10_Wodi_teams=top_10_Wodi_teams.style.hide_index()
top_10_Wodi_teams

## 6. Write a python program to scrape cricket rankings from ‘www.icc-cricket.com’. You have toscrape:

**ii) Top 10 women’s ODI players along with the records of their team and rating.**

In [450]:
wplayer_page=requests.get('https://www.icc-cricket.com/rankings/womens/player-rankings/odi/batting')
wplayer_soup=BeautifulSoup(wplayer_page.content)

In [424]:
wname_list=[]
wname1=wplayer_soup.find('div',class_="rankings-block__banner--name-large")
wname_list.append(wname1.text)
wname_list

['Mithali Raj']

In [425]:
wnames=wplayer_soup.find_all('td',class_="table-body__cell rankings-table__name name")
for i in wnames:
    wname_list.append(i.text.replace('\n',''))
wname_list

['Mithali Raj',
 'Lizelle Lee',
 'Alyssa Healy',
 'Tammy Beaumont',
 'Stafanie Taylor',
 'Meg Lanning',
 'Amy Satterthwaite',
 'Natalie Sciver',
 'Smriti Mandhana',
 'Laura Wolvaardt',
 'Ellyse Perry',
 'Chamari Athapaththu',
 'Rachael Haynes',
 'Heather Knight',
 'Mignon du Preez',
 'Beth Mooney',
 'Harmanpreet Kaur',
 'Suzie Bates',
 'Sophie Devine',
 'Poonam Raut',
 'Marizanne Kapp',
 'Deepti Sharma',
 'Amy Jones',
 'Nahida Khan',
 'Deandra Dottin',
 'Dane van Niekerk',
 'Hayley Matthews',
 'Bismah Maroof',
 'Nicole Bolton',
 'Javeria Khan',
 'Fargana Hoque',
 'Ashleigh Gardner',
 'Rumana Ahmed',
 'Chloe-Lesleigh Tryon',
 'Katie Perkins',
 'Umaima Sohail',
 'Sune Luus',
 'Nida Dar',
 'Amelia Kerr',
 'Jess Jonassen',
 'Danielle Wyatt',
 'Kyshona Knight',
 'Aliya Riaz',
 'Katherine Brunt',
 'Lauren Winfield',
 'Trisha Chetty',
 'Katey Martin',
 'Harshitha Madavi',
 'Brooke Halliday',
 'Shikha Pandey',
 'Fran Wilson',
 'Maddie Green',
 'Dilani Manodara',
 'Nigar Sultana',
 'Jhulan Goswami',
 'Lara Goodall',
 'Jemimah Rodriques',
 'Chedean Nation',
 'Shemaine Campbelle',
 'Priya Punia',
 'Rachel Priest',
 'Sidra Ameen',
 'Lauren Down',
 'Kycia Knight',
 'Nilakshi Silva',
 'Nicola Carey',
 'Hayley Jensen',
 'Muneeba Ali',
 'Salma Khatun',
 'Georgia Wareham',
 'Taniya Bhatia',
 'Shafali Verma',
 'Anne Bosch',
 'Andrie Steyn',
 'Kate Cross',
 'Poonam Yadav',
 'Sophia Dunkley',
 'Sheneta Grimmond',
 'Avanthika Mendis',
 'Sharmin Supta',
 'Britney Cooper',
 'Leigh Kasperek',
 'Anya Shrubsole',
 'Anushka Sanjeewani',
 'Rajeshwari Gayakwad',
 'Inoka Ranaweera',
 'Lea Tahuhu',
 'Natasha McLean',
 'Ayesha Zafar',
 'Megan Schutt',
 'Oshadi Ranasinghe',
 'Nashra Sandhu',
 'Shamilia Connell',
 'Stacy-Ann King',
 'Sanjida Islam',
 'Chinelle Henry',
 'Jess Kerr',
 'Hannah Rowe',
 'Sushma Verma',
 'Shabnim Ismail']

In [451]:
wnation_list=[]
wnation1=wplayer_soup.find('div',class_="rankings-block__banner--nationality")
wnation_list.append(wnation1.text.replace('\n','').strip())
wnation_list

['IND']

In [456]:
wnations=wplayer_soup.find_all('span',class_="table-body__logo-text")
for i in wnations:
    wnation_list.append(i.text)
wnation_list

['IND',
 'SA',
 'AUS',
 'ENG',
 'WI',
 'AUS',
 'NZ',
 'ENG',
 'IND',
 'SA',
 'AUS',
 'SL',
 'AUS',
 'ENG',
 'SA',
 'AUS',
 'IND',
 'NZ',
 'NZ',
 'IND',
 'SA',
 'IND',
 'ENG',
 'PAK',
 'WI',
 'SA',
 'WI',
 'PAK',
 'AUS',
 'PAK',
 'BAN',
 'AUS',
 'BAN',
 'SA',
 'NZ',
 'PAK',
 'SA',
 'PAK',
 'NZ',
 'AUS',
 'ENG',
 'WI',
 'PAK',
 'ENG',
 'ENG',
 'SA',
 'NZ',
 'SL',
 'NZ',
 'IND',
 'ENG',
 'NZ',
 'SL',
 'BAN',
 'IND',
 'SA',
 'IND',
 'WI',
 'WI',
 'IND',
 'NZ',
 'PAK',
 'NZ',
 'WI',
 'SL',
 'AUS',
 'NZ',
 'PAK',
 'BAN',
 'AUS',
 'IND',
 'IND',
 'SA',
 'SA',
 'ENG',
 'IND',
 'ENG',
 'WI',
 'SL',
 'BAN',
 'WI',
 'NZ',
 'ENG',
 'SL',
 'IND',
 'SL',
 'NZ',
 'WI',
 'PAK',
 'AUS',
 'SL',
 'PAK',
 'WI',
 'WI',
 'BAN',
 'WI',
 'NZ',
 'NZ',
 'IND',
 'SA']

In [457]:
rating_1=wplayer_soup.find('div',class_="rankings-block__banner--rating")
wplayer_ratings_list=[]
wplayer_ratings_list.append(rating_1.text)
wplayer_ratings_list

['762']

In [458]:
rating_all=wplayer_soup('td',class_="table-body__cell rating")
for i in rating_all:
    wplayer_ratings_list.append(i.text)
wplayer_ratings_list

['762',
 '758',
 '756',
 '754',
 '736',
 '723',
 '715',
 '706',
 '701',
 '683',
 '679',
 '667',
 '657',
 '644',
 '620',
 '600',
 '594',
 '577',
 '573',
 '570',
 '560',
 '550',
 '539',
 '506',
 '499',
 '498',
 '490',
 '470',
 '456',
 '453',
 '445',
 '440',
 '437',
 '437',
 '413',
 '403',
 '398',
 '397',
 '396',
 '380',
 '380',
 '379',
 '375',
 '371',
 '367',
 '359',
 '357',
 '353',
 '350',
 '328',
 '321',
 '320',
 '319',
 '317',
 '311',
 '305',
 '302',
 '297',
 '288',
 '287',
 '285',
 '268',
 '264',
 '264',
 '261',
 '259',
 '256',
 '252',
 '244',
 '239',
 '239',
 '235',
 '234',
 '234',
 '234',
 '232',
 '230',
 '228',
 '226',
 '221',
 '220',
 '219',
 '219',
 '211',
 '207',
 '205',
 '204',
 '202',
 '197',
 '195',
 '195',
 '188',
 '186',
 '182',
 '181',
 '180',
 '179',
 '179',
 '179',
 '178']

In [459]:
top_10_wodi_players=pd.DataFrame()
top_10_wodi_players['Rank']=np.arange(1,11)
top_10_wodi_players['Name']=wname_list[:10]
top_10_wodi_players['Nationality']=wnation_list[:10]
top_10_wodi_players['Ratings']=wplayer_ratings_list[:10]

top_10_wodi_players=top_10_wodi_players.style.hide_index()
top_10_wodi_players

## Q7. Write a python program to scrape details of all the mobile phones under Rs. 20,000 listed on Amazon.in. The scraped data should include Product Name, Price, Image URL and Average Rating.

In [241]:
mobile_page=requests.get('https://www.amazon.in/best-mobile-under-20000/s?k=best+mobile+under+20000')
mobile_page

In [242]:
mobile_soup=BeautifulSoup(mobile_page.content)

In [259]:
mobile_list=[]
mobile_name=mobile_soup.find_all('h2',class_="a-size-mini a-spacing-none a-color-base s-line-clamp-2")

for i in mobile_name:
    mobile_list.append(i.text)
mobile_list

['Redmi 9A (Nature Green, 2GB RAM, 32GB Storage) | 2GHz Octa-core Helio G25 Processor | 5000 mAh Battery  ',
 'Samsung Galaxy M12 (Blue,4GB RAM, 64GB Storage) 6000 mAh with 8nm Processor | True 48 MP Quad Camera | 90Hz Refresh Rate  ',
 'Tecno Spark 7T(Jewel Blue, 4GB RAM, 64GB Storage) 6000 mAh Battery| 48 MP AI Dual Rear Camera, 6.52 Handy Size  ',
 'Samsung Galaxy M11 (Black, 4GB RAM, 64GB Storage) with No Cost EMI/Additional Exchange Offers  ',
 'Redmi 9 (Sky Blue, 4GB RAM, 64GB Storage) | 2.3GHz Mediatek Helio G35 Octa core Processor  ',
 'Oppo A31 (Fantasy White, 6GB RAM, 128GB Storage) with No Cost EMI/Additional Exchange Offers  ',
 'Samsung Galaxy M31 (Ocean Blue, 8GB RAM, 128GB Storage) 6 Months Free Screen Replacement for Prime  ',
 'realme C11 (2021) (Cool Blue, 2GB RAM, 32GB Storage) with No Cost EMI/Additional Exchange Offers  ',
 'Oppo A31 (Mystery Black, 6GB RAM, 128GB Storage) with No Cost EMI/Additional Exchange Offers  ',
 'Redmi Note 10 (Shadow Black, 4GB RAM, 64GB Storage) - Amoled Dot Display | 48MP Sony Sensor IMX582 | Snapdragon 678 Processor  ',
 'Samsung Galaxy M51 (Electric Blue, 6GB RAM, 128GB Storage) 6 Months Free Screen Replacement for Prime  ',
 'Redmi 9A (Nature Green, 3GB Ram, 32GB Storage) | 2GHz Octa-core Helio G25 Processor  ',
 'Redmi 9 (Carbon Black, 4GB RAM, 64GB Storage) | 2.3GHz Mediatek Helio G35 Octa core Processor  ',
 'Redmi 9 (Sporty Orange, 4GB RAM, 64GB Storage) | 2.3GHz Mediatek Helio G35 Octa core Processor  ',
 'realme C11 (2021) (Cool Grey, 2GB RAM, 32GB Storage) with No Cost EMI/Additional Exchange Offers  ',
 'realme narzo 30 (Racing Blue, 4GB RAM, 64GB Storage) with No Cost EMI/Additional Exchange Offers  ']

In [260]:
len(mobile_list)

16

In [261]:
price_list=[]

mobile_price=mobile_soup.find_all('span',class_="a-price-whole")

for i in mobile_price:
    price_list.append(i.text)
price_list

['6,999',
 '10,999',
 '8,999',
 '9,999',
 '8,999',
 '12,490',
 '6,999',
 '12,490',
 '12,999',
 '19,999',
 '7,799',
 '8,999',
 '8,999',
 '6,999',
 '12,499']

In [262]:
len(price_list)

15

## Q8. Write a python program to extract information about the local weather from the National Weather Service website of USA, https://www.weather.gov/ for the city, San Francisco. You need to extract data about 7 day extended forecast display for the city. The data should include period, short description, temperature and description.**

In [310]:
forcast_page=requests.get('https://forecast.weather.gov/MapClick.php?textField1=37.77&textField2=-122.42')
forcast_soup=BeautifulSoup(forcast_page.content)

In [312]:
day_list=[]
period=forcast_soup.find_all('p',class_="period-name")
for i in period:
    day_list.append(i.text)
day_list

['Today',
 'Tonight',
 'Thursday',
 'ThursdayNight',
 'Friday',
 'FridayNight',
 'Saturday',
 'SaturdayNight',
 'Sunday']

In [324]:
tempall=[]
temp=forcast_soup.find_all('ul',id="seven-day-forecast-list")
temp

[<ul class="list-unstyled" id="seven-day-forecast-list"><li class="forecast-tombstone">
 <div class="tombstone-container">
 <p class="period-name">Today<br/><br/></p>
 <p><img alt="Today: Mostly cloudy, then gradually becoming sunny, with a high near 71. Breezy, with a west wind 10 to 15 mph increasing to 20 to 25 mph in the afternoon. Winds could gust as high as 33 mph. " class="forecast-icon" src="DualImage.php?i=bkn&amp;j=wind_sct" title="Today: Mostly cloudy, then gradually becoming sunny, with a high near 71. Breezy, with a west wind 10 to 15 mph increasing to 20 to 25 mph in the afternoon. Winds could gust as high as 33 mph. "/></p><p class="short-desc">Partly Sunny<br/>then Mostly<br/>Sunny and<br/>Breezy</p><p class="temp temp-high">High: 71 °F</p></div></li><li class="forecast-tombstone">
 <div class="tombstone-container">
 <p class="period-name">Tonight<br/><br/></p>
 <p><img alt="Tonight: Mostly cloudy, with a low around 57. Breezy, with a west wind 13 to 23 mph, with gusts as high as 29 mph. " class="forecast-icon" src="DualImage.php?i=nwind_bkn&amp;j=nbkn" title="Tonight: Mostly cloudy, with a low around 57. Breezy, with a west wind 13 to 23 mph, with gusts as high as 29 mph. "/></p><p class="short-desc">Mostly Cloudy<br/>and Breezy<br/>then Mostly<br/>Cloudy</p><p class="temp temp-low">Low: 57 °F</p></div></li><li class="forecast-tombstone">
 <div class="tombstone-container">
 <p class="period-name">Thursday<br/><br/></p>
 <p><img alt="Thursday: Mostly cloudy, then gradually becoming sunny, with a high near 70. Breezy, with a west southwest wind 11 to 16 mph increasing to 20 to 25 mph in the afternoon. Winds could gust as high as 33 mph. " class="forecast-icon" src="DualImage.php?i=bkn&amp;j=wind_sct" title="Thursday: Mostly cloudy, then gradually becoming sunny, with a high near 70. Breezy, with a west southwest wind 11 to 16 mph increasing to 20 to 25 mph in the afternoon. Winds could gust as high as 33 mph. "/></p><p class="short-desc">Partly Sunny<br/>then Mostly<br/>Sunny and<br/>Breezy</p><p class="temp temp-high">High: 70 °F</p></div></li><li class="forecast-tombstone">
 <div class="tombstone-container">
 <p class="period-name">Thursday<br/>Night</p>
 <p><img alt="Thursday Night: Partly cloudy, with a low around 56. Breezy, with a west southwest wind 14 to 24 mph, with gusts as high as 31 mph. " class="forecast-icon" src="DualImage.php?i=nwind_sct&amp;j=nbkn" title="Thursday Night: Partly cloudy, with a low around 56. Breezy, with a west southwest wind 14 to 24 mph, with gusts as high as 31 mph. "/></p><p class="short-desc">Partly Cloudy<br/>and Breezy<br/>then Mostly<br/>Cloudy</p><p class="temp temp-low">Low: 56 °F</p></div></li><li class="forecast-tombstone">
 <div class="tombstone-container">
 <p class="period-name">Friday<br/><br/></p>
 <p><img alt="Friday: Mostly sunny, with a high near 69. Breezy, with a west southwest wind 13 to 23 mph, with gusts as high as 30 mph. " class="forecast-icon" src="DualImage.php?i=sct&amp;j=wind_few" title="Friday: Mostly sunny, with a high near 69. Breezy, with a west southwest wind 13 to 23 mph, with gusts as high as 30 mph. "/></p><p class="short-desc">Mostly Sunny<br/>then Sunny<br/>and Breezy</p><p class="temp temp-high">High: 69 °F</p></div></li><li class="forecast-tombstone">
 <div class="tombstone-container">
 <p class="period-name">Friday<br/>Night</p>
 <p><img alt="Friday Night: Mostly cloudy, with a low around 56." class="forecast-icon" src="newimages/medium/nbkn.png" title="Friday Night: Mostly cloudy, with a low around 56."/></p><p class="short-desc">Mostly Cloudy</p><p class="temp temp-low">Low: 56 °F</p></div></li><li class="forecast-tombstone">
 <div class="tombstone-container">
 <p class="period-name">Saturday<br/><br/></p>
 <p><img alt="Saturday: Partly sunny, with a high near 67." class="forecast-icon" src="newimages/medium/bkn.png" title="Saturday: Partly sunny, with a high near 67."/></p><p class="short-desc">Partly Sunny</p><p class="temp temp-high">High: 67 °F</p></div></li><li class="forecast-tombstone">
 <div class="tombstone-container">
 <p class="period-name">Saturday<br/>Night</p>
 <p><img alt="Saturday Night: Mostly cloudy, with a low around 56." class="forecast-icon" src="newimages/medium/nbkn.png" title="Saturday Night: Mostly cloudy, with a low around 56."/></p><p class="short-desc">Mostly Cloudy</p><p class="temp temp-low">Low: 56 °F</p></div></li><li class="forecast-tombstone">
 <div class="tombstone-container">
 <p class="period-name">Sunday<br/><br/></p>
 <p><img alt="Sunday: Mostly sunny, with a high near 68." class="forecast-icon" src="newimages/medium/sct.png" title="Sunday: Mostly sunny, with a high near 68."/></p><p class="short-desc">Mostly Sunny</p><p class="temp temp-high">High: 68 °F</p></div></li></ul>]

In [325]:
for i in temp:
    for j in i.find_all('p'):
        tempall.append(j.text)
tempall

['Today',
 '',
 'Partly Sunnythen MostlySunny andBreezy',
 'High: 71 °F',
 'Tonight',
 '',
 'Mostly Cloudyand Breezythen MostlyCloudy',
 'Low: 57 °F',
 'Thursday',
 '',
 'Partly Sunnythen MostlySunny andBreezy',
 'High: 70 °F',
 'ThursdayNight',
 '',
 'Partly Cloudyand Breezythen MostlyCloudy',
 'Low: 56 °F',
 'Friday',
 '',
 'Mostly Sunnythen Sunnyand Breezy',
 'High: 69 °F',
 'FridayNight',
 '',
 'Mostly Cloudy',
 'Low: 56 °F',
 'Saturday',
 '',
 'Partly Sunny',
 'High: 67 °F',
 'SaturdayNight',
 '',
 'Mostly Cloudy',
 'Low: 56 °F',
 'Sunday',
 '',
 'Mostly Sunny',
 'High: 68 °F']

In [327]:
temp_list=[]

for i in range(3,len(tempall),4):
    temp_list.append(tempall[i])
temp_list

['High: 71 °F',
 'Low: 57 °F',
 'High: 70 °F',
 'Low: 56 °F',
 'High: 69 °F',
 'Low: 56 °F',
 'High: 67 °F',
 'Low: 56 °F',
 'High: 68 °F']

In [330]:
short_des=[]

for i in range(2,len(tempall),4):
    short_des.append(tempall[i])
short_des

['Partly Sunnythen MostlySunny andBreezy',
 'Mostly Cloudyand Breezythen MostlyCloudy',
 'Partly Sunnythen MostlySunny andBreezy',
 'Partly Cloudyand Breezythen MostlyCloudy',
 'Mostly Sunnythen Sunnyand Breezy',
 'Mostly Cloudy',
 'Partly Sunny',
 'Mostly Cloudy',
 'Mostly Sunny']

In [334]:
len(short_des)

9

In [331]:
description=forcast_soup('div',class_="col-sm-10 forecast-text")
description_list=[]

for i in description:
    description_list.append(i.text)
description_list

['Mostly cloudy, then gradually becoming sunny, with a high near 71. Breezy, with a west wind 10 to 15 mph increasing to 20 to 25 mph in the afternoon. Winds could gust as high as 33 mph. ',
 'Mostly cloudy, with a low around 57. Breezy, with a west wind 13 to 23 mph, with gusts as high as 29 mph. ',
 'Mostly cloudy, then gradually becoming sunny, with a high near 70. Breezy, with a west southwest wind 11 to 16 mph increasing to 20 to 25 mph in the afternoon. Winds could gust as high as 33 mph. ',
 'Partly cloudy, with a low around 56. Breezy, with a west southwest wind 14 to 24 mph, with gusts as high as 31 mph. ',
 'Mostly sunny, with a high near 69. Breezy, with a west southwest wind 13 to 23 mph, with gusts as high as 30 mph. ',
 'Mostly cloudy, with a low around 56.',
 'Partly sunny, with a high near 67.',
 'Mostly cloudy, with a low around 56.',
 'Mostly sunny, with a high near 68.',
 'Partly cloudy, with a low around 55.',
 'Mostly sunny, with a high near 66.',
 'Partly cloudy, with a low around 55.',
 'Mostly sunny, with a high near 66.']

In [333]:
len(description_list)

13

In [337]:
San_Francisco_Forcast=pd.DataFrame()

San_Francisco_Forcast['Period']=day_list
San_Francisco_Forcast['Short_Description']=short_des
San_Francisco_Forcast['Temperature']=temp_list
San_Francisco_Forcast['Description']=description_list[:9]

San_Francisco_Forcast=San_Francisco_Forcast.style.hide_index()
San_Francisco_Forcast

## Q9. Write a python program to scrape fresher job listings from ‘https://internshala.com/’. It should include job title, company name, CTC, and apply date.

In [355]:
job_page=requests.get('https://internshala.com/fresher-jobs')
job_page

In [356]:
job_soup=BeautifulSoup(job_page.content)

In [358]:
job_title=job_soup.find_all('div',class_="heading_4_5 profile")
job_list=[]

for i in job_title:
    job_list.append(i.text.replace('\n',''))
job_list

['Sales Manager/Omni Sport Leader - Retail ',
 'Human Resources (HR) Associate/Counselor ',
 'Junior iOS App Developer ',
 'Software Testing Engineer ',
 'Embedded Systems Associate ',
 'Full Stack Developer ',
 'Nutrition & Dietetics Specialist ',
 'Human Resources (HR) Executive ',
 'Junior Software Developer ',
 'Business Development Manager ',
 'Patent Research Associate ',
 'Data Analyst ',
 'Software Tester ',
 'Business Development Executive ',
 'MERN Stack Developer ',
 'Conversion Rate Optimization Analyst ',
 'Client Service Executive ',
 'Sales Development Representative ',
 'Corporate Sales Associate ',
 'International Business Development Executive ',
 'Product Marketer ',
 'Customer Support Associates ',
 'Content & Customer Care Executive ',
 'Django Developer ',
 'Reactjs Developer ',
 'Web Development Trainee ',
 'Business Development Executive ',
 'Cybersecurity Compliance Officer ',
 'MERN Stack Developer ',
 'Senior Copywriter ',
 'Corporate Sales Associate ',
 'Digital Marketing Associate ',
 'Social Media Marketing Executive ',
 'Business Development Executive ',
 'Operations Manager ',
 'Lead Counselor ',
 'Angular.js Developer ',
 'Digital Marketing Specialist ',
 'Franchise Manager - Sales (Assistant Manager ) ',
 'Graphic Designer ']

In [360]:
company=job_soup.find_all('div',class_="heading_6 company_name")

company_list=[]

for i in company:
    company_list.append(i.text.replace('\n','').strip())
company_list

['Decathlon Sport India Private Limited',
 'New Way Professionals Private Limited',
 'Rang De',
 'SafeSquid Labs',
 'Signals & Systems India Private Limited',
 'Wisestep',
 'Nucros Science & Taste',
 'Nikulsan Technologies Private Limited',
 'Habitate Technologies Private Limited',
 'School Of Excellence',
 'Crimson Insights Technologies LLP',
 'Anudeep Nekkanti',
 'Startxlabs Technologies Private Limited',
 'Padhhigh',
 'Snippt',
 'DataVinci Private Limited',
 'Red Tree Design Studio Private Limited',
 'HelloAR',
 'Best Roadways Limited',
 'Advids',
 'Habitate Technologies Private Limited',
 'Recruit CRM',
 'Revo International LLP',
 'Startxlabs Technologies Private Limited',
 'Startxlabs Technologies Private Limited',
 'Softsensor.ai',
 'Verzeo',
 'S3 Infosoft',
 'Binary Numbers',
 'Ranksoldier International Private Limited',
 'MiM-Essay',
 'BubbleNut Wash',
 'Erikka India',
 'Cosmic Micro Systems Private Limited',
 'Kumi Labs',
 'HOSS - House Of Soft Skills',
 'Systaldyn Consultancy Private Limited',
 'Sahadya Consultants',
 'Regrob',
 'Cynfas']

In [366]:
job_details=job_soup.find_all('div',class_="item_body")
job_details_list=[]

for i in job_details:
    job_details_list.append(i.text.replace('\n','').strip())
job_details_list

['Starts\xa0Immediately',
 '3.3 - 4.5 LPA',
 "21 Aug' 21",
 'Starts\xa0Immediately',
 '3 - 4 LPA',
 "27 Aug' 21",
 'Starts\xa0Immediately',
 '3 - 4.7 LPA',
 "27 Aug' 21",
 'Starts\xa0Immediately',
 '3 LPA',
 "27 Aug' 21",
 'Starts\xa0Immediately',
 '3 - 4 LPA',
 "27 Aug' 21",
 'Starts\xa0Immediately',
 '3.25 - 5 LPA',
 "27 Aug' 21",
 'Starts\xa0Immediately',
 '3 LPA',
 "27 Aug' 21",
 'Starts\xa0Immediately',
 '3 LPA',
 "27 Aug' 21",
 'Starts\xa0Immediately',
 '3.6 - 4.8 LPA',
 "27 Aug' 21",
 'Starts\xa0Immediately',
 '3 - 3.5 LPA',
 "27 Aug' 21",
 'Starts\xa0Immediately',
 '3 - 4 LPA',
 "27 Aug' 21",
 'Starts\xa0Immediately',
 '6 - 10 LPA',
 "27 Aug' 21",
 'Starts\xa0Immediately',
 '3 - 3.6 LPA',
 "27 Aug' 21",
 'Starts\xa0Immediately',
 '4 - 7 LPA',
 "26 Aug' 21",
 'Starts\xa0Immediately',
 '4 - 5 LPA',
 "26 Aug' 21",
 'Starts\xa0Immediately',
 '5 LPA',
 "26 Aug' 21",
 'Starts\xa0Immediately',
 '3 LPA',
 "26 Aug' 21",
 'Starts\xa0Immediately',
 '3 - 3.2 LPA',
 "26 Aug' 21",
 'Starts\xa0Immediately',
 '3 LPA',
 "26 Aug' 21",
 'Starts\xa0Immediately',
 '3 - 4 LPA',
 "26 Aug' 21",
 'Starts\xa0Immediately',
 '3.2 - 4.2 LPA',
 "25 Aug' 21",
 'Starts\xa0Immediately',
 '5 - 7 LPA',
 "25 Aug' 21",
 'Starts\xa0Immediately',
 '3 - 3.05 LPA',
 "25 Aug' 21",
 'Starts\xa0Immediately',
 '3.5 - 7.5 LPA',
 "25 Aug' 21",
 'Starts\xa0Immediately',
 '3.5 - 7.5 LPA',
 "25 Aug' 21",
 'Starts\xa0Immediately',
 '3 - 5 LPA',
 "25 Aug' 21",
 'Starts\xa0Immediately',
 '3 - 6 LPA',
 "25 Aug' 21",
 'Starts\xa0Immediately',
 '3 - 3.6 LPA',
 "25 Aug' 21",
 'Starts\xa0Immediately',
 '3 - 7 LPA',
 "23 Aug' 21",
 'Starts\xa0Immediately',
 '3 LPA',
 "23 Aug' 21",
 'Starts\xa0Immediately',
 '4.5 - 6 LPA',
 "25 Aug' 21",
 'Starts\xa0Immediately',
 '3.6 - 5.4 LPA',
 "23 Aug' 21",
 'Starts\xa0Immediately',
 '3 - 5 LPA',
 "23 Aug' 21",
 'Starts\xa0Immediately',
 '3 - 4.8 LPA',
 "22 Aug' 21",
 'Starts\xa0Immediately',
 '3 - 8 LPA',
 "25 Aug' 21",
 'Starts\xa0Immediately',
 '3.8 - 4.5 LPA',
 "22 Aug' 21",
 'Starts\xa0Immediately',
 '3 - 5 LPA',
 "22 Aug' 21",
 'Starts\xa0Immediately',
 '3 - 3.5 LPA',
 "22 Aug' 21",
 'Starts\xa0Immediately',
 '3 - 3.1 LPA',
 "22 Aug' 21",
 'Starts\xa0Immediately',
 '3 LPA',
 "22 Aug' 21"]

In [370]:
ctc_list=[]

for i in range(1,len(job_details_list),3):
    ctc_list.append(job_details_list[i])
ctc_list

['3.3 - 4.5 LPA',
 '3 - 4 LPA',
 '3 - 4.7 LPA',
 '3 LPA',
 '3 - 4 LPA',
 '3.25 - 5 LPA',
 '3 LPA',
 '3 LPA',
 '3.6 - 4.8 LPA',
 '3 - 3.5 LPA',
 '3 - 4 LPA',
 '6 - 10 LPA',
 '3 - 3.6 LPA',
 '4 - 7 LPA',
 '4 - 5 LPA',
 '5 LPA',
 '3 LPA',
 '3 - 3.2 LPA',
 '3 LPA',
 '3 - 4 LPA',
 '3.2 - 4.2 LPA',
 '5 - 7 LPA',
 '3 - 3.05 LPA',
 '3.5 - 7.5 LPA',
 '3.5 - 7.5 LPA',
 '3 - 5 LPA',
 '3 - 6 LPA',
 '3 - 3.6 LPA',
 '3 - 7 LPA',
 '3 LPA',
 '4.5 - 6 LPA',
 '3.6 - 5.4 LPA',
 '3 - 5 LPA',
 '3 - 4.8 LPA',
 '3 - 8 LPA',
 '3.8 - 4.5 LPA',
 '3 - 5 LPA',
 '3 - 3.5 LPA',
 '3 - 3.1 LPA',
 '3 LPA']

In [371]:
date_list=[]

for i in range(2,len(job_details_list),3):
    date_list.append(job_details_list[i])
date_list

["21 Aug' 21",
 "27 Aug' 21",
 "27 Aug' 21",
 "27 Aug' 21",
 "27 Aug' 21",
 "27 Aug' 21",
 "27 Aug' 21",
 "27 Aug' 21",
 "27 Aug' 21",
 "27 Aug' 21",
 "27 Aug' 21",
 "27 Aug' 21",
 "27 Aug' 21",
 "26 Aug' 21",
 "26 Aug' 21",
 "26 Aug' 21",
 "26 Aug' 21",
 "26 Aug' 21",
 "26 Aug' 21",
 "26 Aug' 21",
 "25 Aug' 21",
 "25 Aug' 21",
 "25 Aug' 21",
 "25 Aug' 21",
 "25 Aug' 21",
 "25 Aug' 21",
 "25 Aug' 21",
 "25 Aug' 21",
 "23 Aug' 21",
 "23 Aug' 21",
 "25 Aug' 21",
 "23 Aug' 21",
 "23 Aug' 21",
 "22 Aug' 21",
 "25 Aug' 21",
 "22 Aug' 21",
 "22 Aug' 21",
 "22 Aug' 21",
 "22 Aug' 21",
 "22 Aug' 21"]

In [372]:
Fresher_Jobs=pd.DataFrame()

Fresher_Jobs['Job Title']=job_list
Fresher_Jobs['Company Name']=company_list
Fresher_Jobs['CTC']=ctc_list
Fresher_Jobs['Apply Date']=date_list

Fresher_Jobs

,Job Title,Company Name,CTC,Apply Date
0,Sales Manager/Omni Sport Leader - Retail,Decathlon Sport India Private Limited,3.3 - 4.5 LPA,21 Aug' 21
1,Human Resources (HR) Associate/Counselor,New Way Professionals Private Limited,3 - 4 LPA,27 Aug' 21
2,Junior iOS App Developer,Rang De,3 - 4.7 LPA,27 Aug' 21
3,Software Testing Engineer,SafeSquid Labs,3 LPA,27 Aug' 21
4,Embedded Systems Associate,Signals & Systems India Private Limited,3 - 4 LPA,27 Aug' 21
5,Full Stack Developer,Wisestep,3.25 - 5 LPA,27 Aug' 21
6,Nutrition & Dietetics Specialist,Nucros Science & Taste,3 LPA,27 Aug' 21
7,Human Resources (HR) Executive,Nikulsan Technologies Private Limited,3 LPA,27 Aug' 21
8,Junior Software Developer,Habitate Technologies Private Limited,3.6 - 4.8 LPA,27 Aug' 21
9,Business Development Manager,School Of Excellence,3 - 3.5 LPA,27 Aug' 21
10,Patent Research Associate,Crimson Insights Technologies LLP,3 - 4 LPA,27 Aug' 21
11,Data Analyst,Anudeep Nekkanti,6 - 10 LPA,27 Aug' 21
12,Software Tester,Startxlabs Technologies Private Limited,3 - 3.6 LPA,27 Aug' 21
13,Business Development Executive,Padhhigh,4 - 7 LPA,26 Aug' 21
14,MERN Stack Developer,Snippt,4 - 5 LPA,26 Aug' 21
15,Conversion Rate Optimization Analyst,DataVinci Private Limited,5 LPA,26 Aug' 21
16,Client Service Executive,Red Tree Design Studio Private Limited,3 LPA,26 Aug' 21
17,Sales Development Representative,HelloAR,3 - 3.2 LPA,26 Aug' 21
18,Corporate Sales Associate,Best Roadways Limited,3 LPA,26 Aug' 21
19,International Business Development Executive,Advids,3 - 4 LPA,26 Aug' 21
20,Product Marketer,Habitate Technologies Private Limited,3.2 - 4.2 LPA,25 Aug' 21
21,Customer Support Associates,Recruit CRM,5 - 7 LPA,25 Aug' 21
22,Content & Customer Care Executive,Revo International LLP,3 - 3.05 LPA,25 Aug' 21
23,Django Developer,Startxlabs Technologies Private Limited,3.5 - 7.5 LPA,25 Aug' 21
24,Reactjs Developer,Startxlabs Technologies Private Limited,3.5 - 7.5 LPA,25 Aug' 21
25,Web Development Trainee,Softsensor.ai,3 - 5 LPA,25 Aug' 21
26,Business Development Executive,Verzeo,3 - 6 LPA,25 Aug' 21
27,Cybersecurity Compliance Officer,S3 Infosoft,3 - 3.6 LPA,25 Aug' 21
28,MERN Stack Developer,Binary Numbers,3 - 7 LPA,23 Aug' 21
29,Senior Copywriter,Ranksoldier International Private Limited,3 LPA,23 Aug' 21
30,Corporate Sales Associate,MiM-Essay,4.5 - 6 LPA,25 Aug' 21
31,Digital Marketing Associate,BubbleNut Wash,3.6 - 5.4 LPA,23 Aug' 21
32,Social Media Marketing Executive,Erikka India,3 - 5 LPA,23 Aug' 21
33,Business Development Executive,Cosmic Micro Systems Private Limited,3 - 4.8 LPA,22 Aug' 21
34,Operations Manager,Kumi Labs,3 - 8 LPA,25 Aug' 21
35,Lead Counselor,HOSS - House Of Soft Skills,3.8 - 4.5 LPA,22 Aug' 21
36,Angular.js Developer,Systaldyn Consultancy Private Limited,3 - 5 LPA,22 Aug' 21
37,Digital Marketing Specialist,Sahadya Consultants,3 - 3.5 LPA,22 Aug' 21
38,Franchise Manager - Sales (Assistant Manager ),Regrob,3 - 3.1 LPA,22 Aug' 21
39,Graphic Designer,Cynfas,3 LPA,22 Aug' 21

## Q10. Write a python program to scrape house details from https://www.nobroker.in/ for any location. It should include house title, location, area, emi and price**

In [340]:
house_page=requests.get('https://www.nobroker.in/property/sale/mumbai/Badlapur?searchParam=W3sibGF0IjoxOS4xNjY3ODU0LCJsb24iOjczLjIzNjc4OTYsInBsYWNlSWQiOiJDaElKdlJ2SG0xenQ1enNSODFBWVlyQTUxWWMiLCJwbGFjZU5hbWUiOiJCYWRsYXB1ciJ9XQ==&radius=2.0')
house_page

In [341]:
house_soup=BeautifulSoup(house_page.content)

In [344]:
house_list=[]
title=house_soup.find_all('h2',class_="heading-6 font-semi-bold nb__1AShY")
for i in title:
    house_list.append(i.text)
house_list

['1 BHK Flat  For Sale  In Mayur Jagannath Galaxy In Badlapur ',
 '2 BHK Flat  For Sale  In Kendale Emeralds In Mumbai ',
 '1 BHK Apartment  For Sale  In Aditya Royale In Dattanagar ',
 '1 BHK Flat  For Sale  In Sai Vrindavan Anantam In Badlapur ',
 '1 BHK Flat  For Sale  In Vishwajeet In Badlapur West ',
 '1 BHK Flat  For Sale  In Umiya In Badlapur ',
 '1 BHK Flat  For Sale  In Precius Heritage  In Badlapur ',
 '1 BHK Flat  For Sale  In Siddhi City In Badlapur ',
 '2 BHK Flat  For Sale  In Umi Residency In Badlapur West ',
 '1 BHK Flat  For Sale  In Govindgraj Aparment In Badlapur West ']

In [345]:
location_list=[]
location=house_soup.find_all('div',class_="nb__2CMjv")

for i in location:
    location_list.append(i.text)
location_list

['near badlapur karjat highway',
 'Front of Badlapur D-Mart',
 'Aditya Royale\xa0 Kalyan - Badlapur Rd, Dattanagar, Badlapur, Maharashtra 421505, India',
 'Belavali near pawar complex',
 'badlapur',
 'Badlapur west, Manjarli, Near Gauri hall',
 'joveli',
 'iddhicity Badlapur & Thane (East, Kharvai, Badlapur',
 'Manjarli',
 'Badlapur']

In [346]:
area_list=[]

area=house_soup.find_all('div',class_="nb__3oNyC")
for i in area:
    area_list.append(i.text)
area_list

['590 sqft',
 '1,193 sqft',
 '610 sqft',
 '610 sqft',
 '669 sqft',
 '655 sqft',
 '610 sqft',
 '620 sqft',
 '870 sqft',
 '500 sqft']

In [348]:
details_list=[]

details=house_soup.find_all('div',class_="font-semi-bold heading-6")
for i in details:
    details_list.append(i.text)
details_list

['590 sqft',
 '₹11,749/Month',
 '₹20.5 Lacs',
 '1,193 sqft',
 '₹28,370/Month',
 '₹49.5 Lacs',
 '610 sqft',
 '₹14,901/Month',
 '₹26 Lacs',
 '610 sqft',
 '₹14,901/Month',
 '₹26 Lacs',
 '669 sqft',
 '₹16,334/Month',
 '₹28.5 Lacs',
 '655 sqft',
 '₹16,048/Month',
 '₹28 Lacs',
 '610 sqft',
 '₹12,609/Month',
 '₹22 Lacs',
 '620 sqft',
 '₹13,468/Month',
 '₹23.5 Lacs',
 '870 sqft',
 '₹20,060/Month',
 '₹35 Lacs',
 '500 sqft',
 '₹12,609/Month',
 '₹22 Lacs']

In [349]:
price_list=[]
for i in range(2,len(details_list),3):
    price_list.append(details_list[i])
price_list

['₹20.5 Lacs',
 '₹49.5 Lacs',
 '₹26 Lacs',
 '₹26 Lacs',
 '₹28.5 Lacs',
 '₹28 Lacs',
 '₹22 Lacs',
 '₹23.5 Lacs',
 '₹35 Lacs',
 '₹22 Lacs']

In [350]:
rent_list=[]
for i in range(1,len(details_list),3):
    rent_list.append(details_list[i])
rent_list

['₹11,749/Month',
 '₹28,370/Month',
 '₹14,901/Month',
 '₹14,901/Month',
 '₹16,334/Month',
 '₹16,048/Month',
 '₹12,609/Month',
 '₹13,468/Month',
 '₹20,060/Month',
 '₹12,609/Month']

In [354]:
House_Details=pd.DataFrame()

House_Details['Title']=house_list
House_Details['Location']=location_list
House_Details['Area']=area_list
House_Details['Rent']=rent_list
House_Details['Price']=price_list


House_Details

,Title,Location,Area,Rent,Price
0,1 BHK Flat For Sale In Mayur Jagannath Galax...,near badlapur karjat highway,590 sqft,"₹11,749/Month",₹20.5 Lacs
1,2 BHK Flat For Sale In Kendale Emeralds In M...,Front of Badlapur D-Mart,"1,193 sqft","₹28,370/Month",₹49.5 Lacs
2,1 BHK Apartment For Sale In Aditya Royale In...,"Aditya Royale Kalyan - Badlapur Rd, Dattanaga...",610 sqft,"₹14,901/Month",₹26 Lacs
3,1 BHK Flat For Sale In Sai Vrindavan Anantam...,Belavali near pawar complex,610 sqft,"₹14,901/Month",₹26 Lacs
4,1 BHK Flat For Sale In Vishwajeet In Badlapu...,badlapur,669 sqft,"₹16,334/Month",₹28.5 Lacs
5,1 BHK Flat For Sale In Umiya In Badlapur,"Badlapur west, Manjarli, Near Gauri hall",655 sqft,"₹16,048/Month",₹28 Lacs
6,1 BHK Flat For Sale In Precius Heritage In ...,joveli,610 sqft,"₹12,609/Month",₹22 Lacs
7,1 BHK Flat For Sale In Siddhi City In Badlapur,"iddhicity Badlapur & Thane (East, Kharvai, Bad...",620 sqft,"₹13,468/Month",₹23.5 Lacs
8,2 BHK Flat For Sale In Umi Residency In Badl...,Manjarli,870 sqft,"₹20,060/Month",₹35 Lacs
9,1 BHK Flat For Sale In Govindgraj Aparment I...,Badlapur,500 sqft,"₹12,609/Month",₹22 Lacs